@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

//variables
$blackForGradient: rgba(0, 0, 0, 0.5);
$white: #ffffff;
$black: #1b1f2b;
$gray_100: #f1f3f2;
$gray_200: #d9dfdb;
$gray_300: #a6a6a6;
$beige_100: #f9f7f4;
$beige_200: #f4f0e9;
$green_100: #e0f0e5;
$green_200: #627f7e;
$green_300: #3b7e7b;
$green_400: #286562;
$orange_100: #f8e6be;
$orange_200: #efa501;

//variables-fonts
$mainFont: Roboto, sans-serif;
$fz_h1: 96px;
$fz_h2: 59px;
$fz_h3: 35px;
$fz_h1_mobile: 34px;
$fz_h2_mobile: 34px;
$fz_h3_mobile: 23px;
$fz_23: 23px;
$fz_20: 20px;
$fz_17: 17px;
$fz_16: 16px;
$fw_bold: 700;
$fw_medium: 500;
$fw_regular: 400;

$ls_-1: -1px;
$ls: 0px;
$ls_2: 2px;
$ls_4: 4px;

//decor
$stories_gradient: linear-gradient(
  270deg,
  rgba(0, 0, 0, 0) 0.01%,
  rgba(0, 0, 0, 0.2) 100%
);
$card_gradient: linear-gradient(
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.06),
  rgba(0, 0, 0, 0.5)
);
$select_gradient: linear-gradient($beige_100, $beige_100);
$select_gradient_hover: linear-gradient($beige_200, $beige_200);

//mixins
@mixin font($letter-spacing: $ls, $font-weight: $fw_bold, $color: $white) {
  letter-spacing: $letter-spacing;
  font-weight: $font-weight;
  color: $color;
}
@mixin fontText(
  $font-size: $fz_20,
  $letter-spacing: $ls,
  $line-height: 142%,
  $color: $white
) {
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  color: $color;
}

@mixin flex(
  $display: flex,
  $justify-content: center,
  $align-items: center,
  $gap: 0
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

h2 {
  @include fontText($line-height: 124%, $font-size: $fz_h2, $color: $black);
  text-align: center;
  margin-bottom: 30px;
  @media (min-width: 360px) and(max-width:1023px) {
    font-size: $fz_h2_mobile;
    line-height: 112%;
    margin-bottom: 20px;
  }
}
h3 {
  font-size: $fz_h3;
  line-height: 122%;
  letter-spacing: 0;
  font-weight: $fw_medium;
  @media (min-width: 360px) and(max-width:1023px) {
    font-size: $fz_h3_mobile;
    line-height: 120%;
  }
}

.subtitle {
  @include fontText($color: $gray_300);
  text-align: center;
  margin-bottom: 100px;
  @media (min-width: 360px) and(max-width:1023px) {
    font-size: $fz_16;
    margin-bottom: 50px;
  }
}

.detailed {
  display: inline-block;
  padding: 7px 57.5px 7px 20px;
  margin-left: -20px;
  margin-bottom: -9px;
  border-radius: 50px;
  transition: background 0.3s ease-in-out 0.3s;

  @media (min-width: 360px) and(max-width:1023px) {
    padding: 7px 50px 7px 15px;
    margin-left: -15px;
  }
  a {
    position: relative;
    @include fontText($font-size: $fz_23, $line-height: 122%);
    font-weight: $fw_bold;

    @media (min-width: 360px) and(max-width:1023px) {
      font-size: $fz_16;
    }
  }
  a::after {
    content: url("images/arrow white.svg");
    position: absolute;
    width: 22px;
    height: 15px;
    top: 1.3px;
    padding-left: 15px;

    @media (min-width: 360px) and(max-width:1023px) {
      top: 1.5px;
    }
  }
}
.detailed:hover {
  background-color: $green_400;
  @media (min-width: 360px) and(max-width:1023px) {
    background-color: transparent;
  }
}
.detailed:active {
  background-color: $orange_200;
  @media (min-width: 360px) and(max-width:1023px) {
    background-color: transparent;
  }
}

.underline {
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  opacity: 0;
  background-color: $white;
  transition: ease-in-out 0.3s;
}

.underline:hover::before {
  bottom: 0px;
  opacity: 1;
}

.animation-card {
  transition: background-size 0.3s ease-in-out;

  @media (min-width: 360px) and(max-width:1023px) {
    transition: none;
  }
}
//////////////////////////
body {
  font-family: $mainFont;
  background-color: $beige_100;
}
.header {
  overflow-x: hidden;
  @include font();
  position: relative;
width: 100vw;
  //max-width: 1920px;
  background: url("images/header-background.png") no-repeat 100% 120% / cover;
  margin: 0px auto 135px auto;
  padding-bottom: 119px;

  @media (min-width: 1921px) {
   //width: 100vw !important;
    background: url("images/header-background.png") no-repeat 100% 120% / cover;
  }

  @media (min-width: 1024px) {
    // max-width: 1024px;
    background: url("images/pad-header-background.png") no-repeat 50% / cover;
  }

  @media (min-width: 1025px) and(max-width:1919px) {
    width: 100vw;
    background: url("images/pad-header-background.png") no-repeat 50% / cover;
  }
  @media (min-width: 360px) {
    //max-width: 360px;
    background: url("images/pad-header-background.png") no-repeat 50% / cover;
    padding-bottom: 52px;
    padding-left: 21px;
    padding-right: 21px;
    margin-bottom: 75px;
  }

  @media (min-width: 362px) and(max-width:1023px) {
    width: 100vw;
    background: url("images/pad-header-background.png") no-repeat 50% / cover;
  }

  &__navigation {
    overflow-x: hidden;
    position: relative;
    @include flex($gap: 182px);
    padding: 29px 0px;
    top: 0px;
    overflow-x: hidden;

    @media (min-width: 1024px) and(max-width:1919px) {
      gap: 82.5px;
    }

    @media (min-width: 360px) and(max-width:1023px) {
      justify-content: center;
      gap: 63px;
      padding: 32.5px 0;
      margin-bottom: 52px;
    }

    &-logo {
      cursor: pointer;
      &-icon {
        display: block;
        img {
          width: 182px;
          @media (min-width: 360px) and(max-width:1023px) {
            width: 133px;
          }
        }
      }
    }

    &-menu {
      &-list {
        @include fontText($font-size: $fz_20);
        font-weight: $fw_regular;
        @include flex($gap: 50px);

        @media (min-width: 1024px) and(max-width:1919px) {
          gap: 30px;
        }
        @media (min-width: 360px) and(max-width:1023px) {
          display: none;
        }
      }
    }

    &-phone {
      &-link {
        cursor: pointer;
        font-size: $fz_20;
        @include font($font-weight: $fw_regular);

        @media (min-width: 360px) and(max-width:1023px) {
          font-size: $fz_16;
          line-height: 142%;
          padding-top: 2px;
        }
      }
    }
  }

  .navigation-scroll {
    position: fixed;
    width: 1920px;

    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(243, 239, 232, 0.6);
    backdrop-filter: blur(5px);
    transition: top 0.5s ease-in-out 0.5s,
      background-color 0.5s ease-in-out 0.5s;
    z-index: 100;

    @media (min-width: 1024px) and(max-width:1919px) {
      width: 100vw;
      // width: 1024px;
    }

    @media (min-width: 360px) and(max-width:1023px) {
      // width: 360px;
      width: 100vw;
      top: -88.5px;
      justify-content: center;
      gap: 63px;
      margin-bottom: 0;
      padding-left: 20px;
      padding-right: 20px;
    }

    a {
      color: $black;
    }
    .underline::before {
      background-color: $black;
    }
  }

  &__content {
    max-width: 768px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin: 0 auto;
    padding-top: 119px;
    @media (min-width: 1024px) and(max-width:1919px) {
      max-width: 914px;
    }
    @media (min-width: 360px) and(max-width:1023px) {
      //width: 100%;
      max-width: 310px;
      gap: 40px;
      padding-top: 0;
    }

    &-title {
      @include fontText(
        $font-size: $fz_h1,
        $line-height: 109%,
        $letter-spacing: $ls_2
      );

      @media (min-width: 360px) and(max-width:1023px) {
        font-size: $fz_h1_mobile;
        line-height: 112%;
      }
    }

    &-subtitle {
      @include fontText();
      max-width: 562px;
      margin: 0 auto;

      @media (min-width: 1024px) and(max-width:1919px) {
        max-width: 400px;
      }
      @media (min-width: 360px) and(max-width:1023px) {
        max-width: 310px;
        font-size: $fz_16;
      }
    }

    &-btn {
      padding: 4px 0 6px 0;

      &-link {
        @include fontText(
          $font-size: $fz_17,
          $letter-spacing: $ls_-1,
          $color: $black
        );
        font-weight: $fw_regular;
        border-radius: 10px;
        background-color: $white;
        padding: 6px 19px 7px 19px;
        transition: 0.3s ease;

        @media (min-width: 360px) and(max-width:1023px) {
          font-size: $fz_16;
        }
      }

      &-link:hover {
        color: $white;
        background-color: $orange_200;

        @media (min-width: 360px) and(max-width:1023px) {
          color: $black;
          background-color: $white;
        }
      }

      &-link:active {
        color: $black;
        background-color: $orange_100;
        @media (min-width: 360px) and(max-width:1023px) {
          color: $black;
          background-color: $white;
        }
      }
    }
  }
}
//////*************
.card {
  max-width: 1170px;
  margin: 0 auto 135px auto;

  @media (min-width: 1024px) and(max-width:1919px) {
    max-width: 918px;
  }
  @media (min-width: 360px) and(max-width:1023px) {
    max-width: 318px;
    margin: 0 auto 75px auto;
  }
  &__title {
    margin-bottom: 35px;
    @media (min-width: 360px) and(max-width:1023px) {
      margin-bottom: 30px;
    }
  }
  &__tabs {
    @include fontText($font-size: $fz_23, $color: $black, $line-height: 122%);
    font-weight: $fw_bold;
    margin-bottom: 100px;
    @include flex();

    @media (min-width: 360px) and(max-width:1023px) {
      @include fontText($font-size: $fz_16, $color: $black, $line-height: 142%);
      margin-bottom: 50px;
    }

    &-links {
      text-align: center;
      @include flex($gap: 30px);

      @media (min-width: 360px) and(max-width:1023px) {
        @include flex($gap: 10px);
        flex-wrap: wrap;
      }

      &-link {
        display: inline-block;
      }

      .underline::before {
        height: 2px;
        background-color: $black;
      }

      .underline:hover::before {
        bottom: -2px;
        opacity: 1;
      }

      .underline.active {
        display: inline-block;
        color: $orange_200;
      }
      .underline.active::before {
        bottom: -2px;
        height: 2px;
        opacity: 1;
        background-color: $orange_200;
      }
    }
  }

  &__container {
    &-content {
      display: none;
      &-items {
        @include flex($gap: 30px);
        flex-wrap: wrap;

        @media (min-width: 1024px) and(max-width:1919px) {
          gap: 18px;
        }
        @media (min-width: 360px) and(max-width:1023px) {
          gap: 18px;
        }

        &-item {
          max-width: 370px;
          color: $white;
          border-radius: 50px;
          padding: 50px;
          //

          @media (min-width: 1024px) and(max-width:1919px) {
            max-width: 450px;
          }
          @media (min-width: 360px) and(max-width:1023px) {
            padding: 25px;
            width: 100%;
            border-radius: 20px;
            // transition: none;
          }

          &-title {
            margin-bottom: 16px;
            @media (min-width: 360px) and(max-width:1023px) {
              margin-bottom: 13px;
            }
          }
          &-price {
            @include fontText($font-size: $fz_17, $letter-spacing: -1px);
            margin-bottom: 277px;

            @media (min-width: 1024px) and(max-width:1919px) {
              margin-bottom: 320px;
            }
            @media (min-width: 360px) and(max-width:1023px) {
              font-size: $fz_16;
              margin-bottom: 178px;
            }
          }
          // &-link{

          // }
        }

        .card-one {
          background: $card_gradient,
            url("images/card\ tour\ photo-1.jpg") no-repeat center; // / cover
          background-size: 103%;

          @media (min-width: 1024px) and(max-width:1919px) {
            background: $card_gradient,
              url("images/card\ tour\ photo-1.jpg") no-repeat center; // / cover
            background-size: 103.5%;
          }
        }

        .card-two {
          background: $card_gradient,
            url("images/card\ tour\ photo-2.jpg") no-repeat center; // / cover
          background-size: 103%;

          @media (min-width: 1024px) and(max-width:1919px) {
            background: $card_gradient,
              url("images/background-card-2.png") no-repeat center; // / cover
            background-size: 105%;
          }

          @media (min-width: 360px) and(max-width:1023px) {
            background: $card_gradient,
              url("images/mobile-background-card-2.png") no-repeat center;
          }
        }

        .card-three {
          background: $card_gradient,
            url("images/card\ tour\ photo-3.jpg") no-repeat center;
          background-size: 103%;

          @media (min-width: 1024px) and(max-width:1919px) {
            background: $card_gradient,
              url("images/background-card-3.png") no-repeat center top;
            background-size: 104%;
          }

          @media (min-width: 360px) and(max-width:1023px) {
            background: $card_gradient,
              url("images/mobile-background-card-3.png") no-repeat center top;
          }
        }

        .card-four {
          background: $card_gradient,
            url("images/card\ tour\ photo-4.jpg") no-repeat center;
          background-size: 103%;

          @media (min-width: 1024px) and(max-width:1919px) {
            background: $card_gradient,
              url("images/background-card-4.png") no-repeat center;
            background-size: 104%;
          }
        }

        .card-five {
          background: $card_gradient,
            url("images/card\ tour\ photo-5.jpg") no-repeat center;
          background-size: 103%;

          @media (min-width: 1024px) and(max-width:1919px) {
            background: $card_gradient,
              url("images/background-card-5.png") no-repeat center; // / 100% 100%;
            background-size: 104%;
          }
        }

        .card-six {
          background: $card_gradient,
            url("images/card\ tour\ photo-6.jpg") no-repeat center;
          background-size: 103%;

          @media (min-width: 1024px) and(max-width:1919px) {
            background: $card_gradient,
              url("images/background-card-6.png") no-repeat center;
            background-size: 105%;
          }

          @media (min-width: 360px) and(max-width:1023px) {
            background: $card_gradient,
              url("images/mobile-background-card-6.png") no-repeat left;
          }
        }

        .card-one,
        .card-two,
        .card-three,
        .card-four,
        .card-five,
        .card-six {
          transition: background-size 0.5s ease-in-out;

          @media (min-width: 360px) and(max-width:1023px) {
            transition: none;
          }
        }

        .card-one:hover,
        .card-four:hover,
        .card-five:hover {
          background-size: 120%;
          @media (min-width: 360px) and(max-width:1023px) {
            background-size: 103%;
          }
        }

        .card-two:hover,
        .card-three:hover,
        .card-six:hover {
          background-size: 120%;
          @media (min-width: 360px) and(max-width:1023px) {
            background-size: 100%;
          }
        }
      }
    }

    &-content.active-card {
      display: block;
    }
  }
}
//////*************

.application {
  text-align: center;
  margin-bottom: 135px;
  @media (min-width: 360px) and(max-width:1023px) {
    margin-bottom: 75px;
  }

  &__box {
    display: inline-block;
    max-width: 1170px;

    @media (min-width: 1024px) and(max-width:1919px) {
      max-width: 918px;
    }
    @media (min-width: 360px) and(max-width:1023px) {
      max-width: 318px;
    }

    &-form {
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      gap: 33px 30px;
      padding: 70px;
      background-color: $white;
      border-radius: 50px;

      @media (min-width: 1024px) and(max-width:1919px) {
        gap: 33px 20px;
        padding: 60px;
      }
      @media (min-width: 360px) and(max-width:1023px) {
        border-radius: 20px;
        gap: 30px 0px;
        padding: 20px;
      }

      label,
      input,
      select {
        display: block;
      }
      label {
        @include fontText($color: $black);
        margin-bottom: 8px;
        margin-left: 1px;

        @media (min-width: 360px) and(max-width:1023px) {
          font-size: $fz_16;
        }
      }
      input {
        width: 500px;
        @include fontText($color: $black);
        background-color: $beige_100;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 1px $white inset;
        padding: 20px;

        @media (min-width: 1024px) and(max-width:1919px) {
          width: 389px;
        }
        @media (min-width: 360px) and(max-width:1023px) {
          width: 278px;
          font-size: $fz_16;
          padding: 11.5px 10px;
        }
      }

      select {
        width: 500px;
        border-radius: 10px;
        @include fontText($color: $black);
        appearance: none;
        padding: 20px;
        background: url("images/arrow-dropdown.svg") no-repeat 456px/26px 26px,
          $select_gradient;

        @media (min-width: 1024px) and(max-width:1919px) {
          width: 389px;
          background: url("images/arrow-dropdown.svg") no-repeat 346px/26px 26px,
            $select_gradient;
        }
        @media (min-width: 360px) and(max-width:1023px) {
          width: 278px;
          font-size: $fz_16;
          padding: 12px 10px;
          background: url("images/arrow-dropdown.svg") no-repeat 246px/26px 26px,
            $select_gradient;
        }

        option {
          @include fontText($color: $black);

          @media (min-width: 360px) and(max-width:1023px) {
            font-size: $fz_16;
          }
        }
      }

      input:hover,
      textarea:hover {
        background-color: $beige_200;
      }

      input#name:invalid {
        color: red;
      }

      select:required:invalid {
        color: $gray_300;
      }

      input[type="date"] {
        margin-top: 10px;
        padding: 17.5px 20px 18px 20px;
      }
      select:hover {
        background: url("images/arrow-dropdown.svg") no-repeat 456px/26px 26px,
          $select_gradient_hover;

        @media (min-width: 1024px) and(max-width:1919px) {
          background: url("images/arrow-dropdown.svg") no-repeat 346px/26px 26px,
            $select_gradient_hover;
        }
        @media (min-width: 360px) and(max-width:1023px) {
          background: url("images/arrow-dropdown.svg") no-repeat 246px/26px 26px,
            $select_gradient_hover;
        }
      }
      &-comment {
        width: 100%;

        textarea {
          @include fontText($color: $black);
          background-color: $beige_100;
          border-radius: 10px;
          height: 152px;
          width: 100%;
          padding: 10px;
          resize: none;
          margin-top: 8px;

          @media (min-width: 360px) and(max-width:1023px) {
            font-size: $fz_16;
            height: 132px;
          }
        }
        textarea:focus {
          box-shadow: 0px 0px 0px 1px $gray_300 inset;
          color: $black;
        }
      }

      &-agreement {
        input {
          padding: 0;
        }

        &-radiobox {
          width: fit-content;
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 33px;

          &-question {
            width: 100%;
            @include fontText($color: $black);
            margin-bottom: 8px;
            @media (min-width: 360px) and(max-width:1023px) {
              font-size: $fz_16;
            }
          }
          &-yes {
            @include flex($gap: 11px, $justify-content: start);
            margin-right: 30.5px;
            @media (min-width: 360px) and(max-width:1023px) {
              @include flex($gap: 10px, $justify-content: start);
            }
          }
          &-no {
            @include flex($gap: 11px, $justify-content: start);
            @media (min-width: 360px) and(max-width:1023px) {
              @include flex($gap: 10px, $justify-content: start);
            }
          }
          label {
            margin-bottom: 0;
          }
        }

        &-contract {
          display: flex;
          align-items: center;
          gap: 19px;
          margin-bottom: 34px;
          @media (min-width: 360px) and(max-width:1023px) {
            gap: 10px;
            align-items: start;
          }

          label {
            @include fontText(
              $font-size: $fz_17,
              $letter-spacing: -1px,
              $color: $gray_300
            );
            margin-bottom: 0;
            @media (min-width: 360px) and(max-width:1023px) {
              flex-shrink: 2;
              @include fontText(
                $font-size: $fz_16,
                $letter-spacing: 0,
                $color: $gray_300
              );
            }
          }

          .contract {
            color: $black !important;
          }
          .contract:active {
            color: $green_400 !important;
          }
          .underline::before {
            background-color: $black;
          }
          .underline:active::before {
            background-color: $green_400;
          }
        }
        .custom-checkbox {
          @media (min-width: 360px) and(max-width:1023px) {
            flex-shrink: 0;
          }
        }
        .custom-radio,
        .custom-checkbox {
          appearance: none;
          position: relative;
          width: 26px;
          height: 26px;
          background: $white;
          border-radius: 4px;
          border: 2px solid $black;
          @media (min-width: 360px) and(max-width:1023px) {
            width: 20px;
            height: 20px;
          }
        }
        .custom-radio {
          border-radius: 50%;
        }
        .custom-radio::after {
          content: "";
          position: absolute;
          width: 0px;
          height: 0px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }

        .custom-radio:checked {
          background: $white;
        }

        .custom-radio:checked::after {
          width: 12px;
          height: 12px;
          background-color: $black;

          @media (min-width: 360px) and(max-width:1023px) {
            width: 9px;
            height: 9px;
          }
        }

        .custom-checkbox::after {
          content: "";
          position: absolute;
          top: 24%;
          left: 23.5%;
          background: url("images/Checkbox\ arrow.svg") no-repeat;
          width: 0px;
          height: 0px;

          @media (min-width: 360px) and(max-width:1023px) {
            background: url("images/Checkbox\ arrow\ mobile.svg") no-repeat;
            top: 24%;
            left: 20%;
          }
        }

        .custom-checkbox:checked {
          background-color: $white;
        }
        .custom-checkbox:checked::after {
          width: 15px;
          height: 14px;
        }
        .custom-radio:hover,
        .custom-checkbox:hover {
          background: $white;
        }
        .custom-radio:focus,
        .custom-checkbox:focus {
          box-shadow: none;
        }
        .custom-checkbox:disabled,
        .custom-radio:disabled {
          background: $white;
          border-color: $white;
        }

        &-buttons {
          display: flex;
          gap: 30px;
          @media (min-width: 360px) and(max-width:1023px) {
            gap: 10px;
          }
          &-btn {
            @include fontText();
            width: 235px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 10px;
            transition: background 0.3s ease-in-out 0.3s;

            @media (min-width: 360px) and(max-width:1023px) {
              width: 134px;
              font-size: $fz_16;
            }
          }
        }
      }
    }
  }
  .submit {
    background-color: $green_400;
  }
  .submit:hover {
    background-color: $green_300;
  }
  .submit:active {
    background-color: $green_200;
  }
  .reset {
    background-color: $green_100;
    color: $green_400;
  }
  .reset:hover {
    background-color: $gray_100;
  }
  .reset:active {
    background-color: $gray_200;
  }
}

//////**************

.reviews {
  margin-bottom: 135px;
  @media (min-width: 360px) and(max-width:1023px) {
    margin-bottom: 75px;
  }

  &__swiper {
    width: 1170px;
    height: 100%;

    @media (min-width: 1024px) and(max-width:1919px) {
      width: 918px;
    }
    @media (min-width: 360px) and(max-width:1023px) {
      width: 318px;
      max-height: 1059px;
    }
  }

  .swiper-slide {
    max-width: 570px;
    height: 673px;
    font-size: $fz_23;
    line-height: 122%;
    border-radius: 50px;
    background-color: $beige_200;
    padding: 40px;

    @media (min-width: 1024px) and(max-width:1919px) {
      max-width: 450px;
      height: 841px;
    }
    @media (min-width: 360px) and(max-width:1023px) {
      max-width: 318px;
      height: auto;
      font-size: $fz_16;
      line-height: 142%;
      border-radius: 20px;
      padding: 20px;
    }

    &__content-one {
      font-weight: $fw_bold;
    }

    .mari {
      margin-bottom: 266px;
      @media (min-width: 1024px) and(max-width:1919px) {
        margin-bottom: 378px;
      }
      @media (min-width: 360px) and(max-width:1023px) {
        margin-bottom: 56px;
      }
    }

    .pavel {
      margin-bottom: 70px;
      @media (min-width: 360px) and(max-width:1023px) {
        margin-bottom: 56px;
      }
    }

    &__content-two {
      @include flex($justify-content: space-between);
      &-text {
        &-title {
          margin-bottom: 8px;
        }
        &-subtext {
          @include fontText($font-size: $fz_17, $color: $gray_300);

          @media (min-width: 360px) and(max-width:1023px) {
            @include fontText($font-size: $fz_16, $color: $gray_300);
          }
        }
      }
      &-foto {
        img {
          width: 75px;
          height: 75px;
        }
      }
    }
  }

  .swiper-pagination {
    @media (min-width: 360px) and(max-width:1023px) {
      top: 95px;
      right: 6px;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: $black;
  }
}

//////***************

.gallery {
  width: 100vw;
  margin: 0 auto 135px auto;
  overflow-x: hidden;

  @media (min-width: 360px) and(max-width:1023px) {
    margin-bottom: 75px;
  }

  &__container {
    @include flex($gap: 30px, $align-items: flex-end);
    flex-direction: column;

    @media (min-width: 1024px) and(max-width:1919px) {
      gap: 20px;
    }
    @media (min-width: 360px) and(max-width:1023px) {
      gap: 18px;
    }

    &-content {
      display: flex;
      gap: 30px;

      @media (min-width: 1024px) and(max-width:1919px) {
        gap: 20px;
      }

      &-one,
      &-two,
      &-three {
        display: flex;
        gap: 30px;
        @media (min-width: 1024px) and(max-width:1919px) {
          gap: 20px;
        }

        img {
          border-radius: 50px;
          object-fit: cover;
          @media (min-width: 360px) and(max-width:1023px) {
            border-radius: 20px;
          }
        }
      }
      &-one {
        animation: logo 45s linear infinite;
        @media (min-width: 360px) and(max-width:1023px) {
          gap: 18px;
        }
      }

      &-two {
        animation: logo-right 75s linear infinite reverse;
        @media (min-width: 360px) and(max-width:1023px) {
          gap: 10px;
        }
      }

      &-three {
        animation: logo 65s linear infinite;
        @media (min-width: 360px) and(max-width:1023px) {
          gap: 10px;
        }
      }

      @keyframes logo {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(100%); //100.46%
        }
      }

      @keyframes logo-right {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(100%);
        }
      }

      .deletePad {
        @media (min-width: 1024px) and(max-width:1919px) {
          display: none;
        }
        @media (min-width: 360px) and(max-width:1023px) {
          display: none;
        }
      }
      .deleteMobile {
        @media (min-width: 360px) and(max-width:1023px) {
          display: none;
        }
      }
    }
    .line-one {
      @media (min-width: 360px) and(max-width:1023px) {
        gap: 18px;
      }

      img {
        max-width: 442px;

        @media (min-width: 1024px) and(max-width:1919px) {
          max-width: 315px;
          min-height: 300px;
        }

        @media (min-width: 360px) and(max-width:1023px) {
          max-width: 150px;
        }
      }
    }
    .line-two {
      @media (min-width: 360px) and(max-width:1023px) {
        gap: 10px;
      }

      img {
        max-width: 349px;
        height: 301px;

        @media (min-width: 1024px) and(max-width:1919px) {
          max-width: 231px;
        }

        @media (min-width: 360px) and(max-width:1023px) {
          max-width: 99px;
          height: 110px;
        }
      }

      img.pad {
        display: none;

        @media (min-width: 1024px) and(max-width:1919px) {
          display: inline;
          margin-left: -20px;
        }
        @media (min-width: 360px) and(max-width:1023px) {
          display: inline;
          width: 99px;
          margin-left: -10px;
        }
      }

      img.desk {
        margin-right: -30px;

        @media (min-width: 1024px) and(max-width:1919px) {
          display: none;
        }
        @media (min-width: 360px) and(max-width:1023px) {
          display: none;
        }
      }
    }
    .line-three {
      @media (min-width: 360px) and(max-width:1023px) {
        gap: 10px;
      }

      img {
        max-width: 442px;

        @media (min-width: 1024px) and(max-width:1919px) {
          max-width: 315px;
          min-height: 300px;
        }
        @media (min-width: 360px) and(max-width:1023px) {
          max-width: 154px;
        }
      }
    }
  }
}

//////****************
.stories {
  text-align: center;
  margin-bottom: 135px;

  @media (min-width: 360px) and(max-width:1023px) {
    padding-right: 21px;
    padding-left: 21px;
    margin-bottom: 75px;
  }

  &__container {
    display: inline-block;
    width: 1170px;
    text-align: left;

    @media (min-width: 1024px) and(max-width:1919px) {
      width: 918px;
    }

    @media (min-width: 360px) and(max-width:1023px) {
      width: 318px;
    }

    &-block {
      position: relative;
      width: 100%;
      padding: 60px;
      border-radius: 50px;

      @media (min-width: 360px) and(max-width:1023px) {
        padding: 30px;
        border-radius: 20px;
      }

      &-content {
        max-width: 554px;
        color: $white;
        margin-bottom: 227px;

        @media (min-width: 360px) and(max-width:1023px) {
          width: auto;
          margin-bottom: 155px;
        }

        &-title {
          margin-bottom: 37px;
          @media (min-width: 360px) and(max-width:1023px) {
            max-width: 150px;
            margin-bottom: 20px;
          }
        }
        &-text {
          @include fontText();
          margin-bottom: 37px;

          @media (min-width: 360px) and(max-width:1023px) {
            @include fontText($font-size: $fz_16);
            margin-bottom: 20px;
          }
        }
        &-list {
          &-item {
            position: relative;
            @include fontText();
            margin-left: 30px;

            @media (min-width: 360px) and(max-width:1023px) {
              font-size: $fz_16;
              margin-left: 25px;
            }
          }
          &-item::before {
            content: "";
            display: inline-block;
            position: absolute;
            color: $white;
            left: -18px;
            top: 12px;
            border: 3px solid $white;
            border-radius: 50px;
            background-color: $white;

            @media (min-width: 360px) and(max-width:1023px) {
              border: 2px solid $white;
              top: 10px;
            }
          }
        }
      }

      &-detailed {
        display: inline-block;
      }

      &-network {
        position: absolute;
        display: inline-flex;
        gap: 35px;
        color: $white;
        right: 60px;
        bottom: 60px;

        @media (min-width: 360px) and(max-width:1023px) {
          display: none;
        }

        &-link {
          @include fontText();
        }
        &-link:active {
          color: $orange_200;
        }
        .underline:active::before {
          background-color: $orange_200 !important;
        }
      }
    }

    .one-block &-block-content {
      margin-bottom: 115px;

      @media (min-width: 360px) and(max-width:1023px) {
        margin-bottom: 64.5px;
      }
    }

    .one-block {
      background: $stories_gradient,
        url("images/story\ photo-1.jpg") no-repeat center;
      margin-bottom: 50px;

      @media (min-width: 1024px) and(max-width:1919px) {
        background: $stories_gradient,
          url("images/story\ photo-1Pad.png") no-repeat center;
      }

      @media (min-width: 360px) and(max-width:1023px) {
        background: $stories_gradient,
          url("images/story\ photo-1Mobile.png") no-repeat center;
        margin-bottom: 20px;
      }
    }

    .two-block {
      background: $stories_gradient,
        url("images/story\ photo-2.jpg") no-repeat center;
      margin-bottom: 50px;

      @media (min-width: 1024px) and(max-width:1919px) {
        background: $stories_gradient,
          url("images/story\ photo-2Pad.png") no-repeat center;
      }

      @media (min-width: 360px) and(max-width:1023px) {
        background: $stories_gradient,
          url("images/story\ photo-2Mobile.png") no-repeat center;
        margin-bottom: 20px;
      }
    }

    .three-block {
      background: $stories_gradient,
        url("images/story\ photo-3.jpg") no-repeat center;

      @media (min-width: 1024px) and(max-width:1919px) {
        background: $stories_gradient,
          url("images/story\ photo-3Pad.png") no-repeat 48%;
      }

      @media (min-width: 360px) and(max-width:1023px) {
        background: $stories_gradient,
          url("images/story\ photo-3Mobile.png") no-repeat center;
      }
    }

    .one-block,
    .two-block,
    .three-block {
      background-size: 103%;

      @media (min-width: 360px) and(max-width:1023px) {
        background-size: cover;
      }
    }
    .one-block:hover,
    .two-block:hover,
    .three-block:hover {
      background-size: 153%;

      @media (min-width: 360px) and(max-width:1023px) {
        background-size: cover;
      }
    }
  }
}
//////*****************
.communication {
  @include flex();
  margin-bottom: 135px;

  @media (min-width: 360px) and(max-width:1023px) {
    margin-bottom: 75px;
  }
  &__block {
    max-width: 771px;
    @include flex($gap: 30px);

    @media (min-width: 360px) and(max-width:1023px) {
      max-width: 360px;
      flex-wrap: wrap;
    }

    &-background {
      min-width: 370px;
      min-height: 370px;
      border-radius: 50px;
      background: url("images/footerPhoto.jpg") no-repeat center/cover;

      @media (min-width: 360px) and(max-width:1023px) {
        min-width: 130px;
        min-height: 133px;
        border-radius: 20px;
      }
    }

    &-content {
      @media (min-width: 360px) and(max-width:1023px) {
        text-align: center;
      }

      &-title {
        margin-bottom: 20px;
      }

      &-text {
        @include fontText($color: $gray_300);

        @media (min-width: 360px) and(max-width:1023px) {
          max-width: 292px;
          @include fontText($font-size: $fz_16, $color: $gray_300);
        }
      }
      .email {
        cursor: pointer;
        color: $black;
      }
      .underline::before {
        background-color: $black;
      }
      .email:active {
        color: $green_400;
      }
      .underline:active::before {
        background-color: $green_400;
      }
    }
  }
}
//////*****************
.footer {
  @include flex();
  background-color: $beige_200;

  @media (min-width: 360px) and(max-width:1023px) {
    flex-wrap: wrap;
    text-align: center;
  }

  &__container {
    width: 1168px;
    @include flex($justify-content: space-between);
    padding: 30px 0;

    @media (min-width: 1024px) and(max-width:1919px) {
      width: 918px;
    }
    @media (min-width: 360px) and(max-width:1023px) {
      display: inline-block;
      padding: 21px 21.5px;
    }

    &-text {
      @include fontText($color: $gray_300);

      @media (min-width: 360px) and(max-width:1023px) {
        font-size: $fz_16;
        margin-bottom: 7px;
      }
    }

    &-network {
      display: flex;
      gap: 25px;
      align-items: center;

      @media (min-width: 360px) and(max-width:1023px) {
        justify-content: center;
        gap: 15px;
      }
      &-container {
        display: flex;
        gap: 10px;
        @media (min-width: 360px) and(max-width:1023px) {
          gap: 5px;
        }
        &-icon {
          width: 26px;
          height: 26px;
          margin-top: 1px;
          @media (min-width: 1024px) and(max-width:1919px) {
            margin-top: 2px;
          }
          @media (min-width: 360px) and(max-width:1023px) {
            width: 22px;
            height: 22px;
            margin-top: 0px;
          }
        }
        .fb {
          @media (min-width: 1024px) and(max-width:1919px) {
            margin-top: 1px;
          }
        }
        &-link {
          @include fontText($color: $black);

          @media (min-width: 360px) and(max-width:1023px) {
            font-size: $fz_16;
          }
        }
      }
    }

    .underline::before {
      background-color: $black;
    }
  }
}
