@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

//variables
$blackForGradient: rgba(0, 0, 0, 0.5);
$white: #ffffff;
$black: #1b1f2b;
$gray_100: #f1f3f2;
$gray_200: #d9dfdb;
$gray_300: #a6a6a6;
$beige_100: #f9f7f4;
$beige_200: #f4f0e9;
$green_100: #e0f0e5;
$green_200: #627f7e;
$green_300: #3b7e7b;
$green_400: #286562;
$orange_100: #f8e6be;
$orange_200: #efa501;

//variables-fonts
$mainFont: "Roboto", sans-serif;
$fz_h1: 96px;
$fz_h2: 59px;
$fz_h3: 35px;
$fz_h1_mobile: 34px;
$fz_h2_mobile: 34px;
$fz_h3_mobile: 23px;
$fz_23: 23px;
$fz_20: 20px;
$fz_17: 17px;
$fz_16: 16px;
$fw_bold: 700;
$fw_medium: 500;
$fw_regular: 400;

$ls_-1: 0px; //-1%
$ls: 0;
$ls_2: 2px;
$ls_4: 4px;

//decor
$stories_gradient: linear-gradient(
  270deg,
  rgba(0, 0, 0, 0) 0.01%,
  rgba(0, 0, 0, 0.2) 100%
);
$card_gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.06),
  rgba(0, 0, 0, 0.4)
);
$select_gradient: linear-gradient($beige_100, $beige_100);
$select_gradient_focus: linear-gradient($beige_200, $beige_200);
$select_gradient_hover: linear-gradient($beige_200, $beige_200);

//mixins
@mixin font($letter-spacing: $ls, $font-weight: $fw_bold, $color: $white) {
  letter-spacing: $letter-spacing;
  font-weight: $font-weight;
  color: $color;
}
@mixin fontText(
  $font-size: $fz_20,
  $letter-spacing: $ls,
  $line-height: 142%,
  $color: $white
) {
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  color: $color;
}

@mixin flex(
  $display: flex,
  $justify-content: center,
  $align-items: center,
  $gap: 0
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

h2 {
  @include fontText($line-height: 124%, $font-size: $fz_h2, $color: $black);
  text-align: center;
  margin-bottom: 30px;
  @media (min-width: 360px) and (max-width: 999px) {
    font-size: $fz_h2_mobile;
    line-height: 112%;
    margin-bottom: 20px;
  }
}

h3 {
  font-size: $fz_h3;
  line-height: 122%;
  letter-spacing: 0;
  font-weight: $fw_medium;
  @media (min-width: 360px) and (max-width: 999px) {
    font-size: $fz_h3_mobile;
    line-height: 120%;
  }
}

.subtitle {
  @include fontText($color: $gray_300);
  text-align: center;
  margin-bottom: 100px;
  @media (min-width: 360px) and (max-width: 999px) {
    font-size: $fz_16;
    margin-bottom: 50px;
  }
}

.detailed {
  display: inline-block;
  padding: 7px 57.5px 7px 20px;
  margin-left: -20px;
  margin-bottom: -9px;
  border-radius: 50px;
  transition: background 0.3s ease-in-out 0.3s;

  @media (min-width: 360px) and (max-width: 999px) {
    padding: 7px 50px 7px 15px;
    margin-left: -15px;
  }

  a {
    position: relative;
    @include fontText($font-size: $fz_23, $line-height: 122%);
    font-weight: $fw_bold;

    @media (min-width: 360px) and (max-width: 999px) {
      font-size: $fz_16;
    }
  }

  a::after {
    content: url("images/arrow white.svg");
    position: absolute;
    width: 22px;
    height: 15px;
    top: -0.1px;
    padding-left: 16px;

    @media (min-width: 360px) and (max-width: 999px) {
      top: 1.5px;
    }
  }
}

.underline {
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  opacity: 0;
  background-color: $white;
  transition: ease-in-out 0.3s;
}

.underline:hover::before {
  bottom: 0px;
  opacity: 1;

  @media (min-width: 360px) and (max-width: 999px) {
    bottom: -3px;
    opacity: 0;
  }
}

.animation-card {
  transition: background-size 0.3s ease-in-out;

  @media (min-width: 360px) and (max-width: 999px) {
    transition: none;
  }
}
//////////////////////////
body {
  height: 100%;
  font-family: $mainFont;
  background-color: $beige_100;
  overflow-x: hidden;
  margin: 0 auto;
}

section {
  //max-width: 1170px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  @media (min-width: 1000px) and (max-width: 1850px) {
    max-width: 918px;
  }
  @media (min-width: 360px) and (max-width: 999px) {
    max-width: 318px;
  }
}
///////////////////

.header {
  // width: 100%;
  // position: relative;
  @include font();
  //top: 0;
  background: url("images/header-background.jpg") no-repeat 0% 51.2% / 100%
    99.65%;
  margin: 0px auto 133px auto;
  //padding-top: 88px;
  padding-bottom: 119px;
  // overflow: hidden;

  @media (min-width: 1000px) and (max-width: 1850px) {
    background: url("images/pad-header-background.jpg") no-repeat 50% 0%/111.9%
      100%;
    padding-bottom: 117.8px;
    margin-bottom: 135px;
  }

  @media (min-width: 360px) and (max-width: 999px) {
    background: url("images/pad-header-background.jpg") no-repeat 50% / cover;
    padding-bottom: 51px;
    margin-bottom: 76px;
  }

  &__navigation {
    position: relative;
    width: 100%;
    // height: 88px;
    //position: absolute;
    //top: 0px;
    // left: 0;
    // right: 0;

    @include flex($gap: 181.08px);
    padding: 28.88px 0px;
    z-index: 100;

    @media (min-width: 1000px) and (max-width: 1850px) {
      padding: 26.5px 0px;
      gap: 82px;
    }

    @media (min-width: 360px) and (max-width: 999px) {
      //width: 320px;
      justify-content: center;
      //align-items: ;
      gap: 31.5px;
      padding: 31px 0px 32.5px 1px;
    }

    &-logo {
      cursor: pointer;

      &-icon {
        display: block;

        @media (min-width: 1000px) and (max-width: 1850px) {
          margin-top: 1px;
        }

        // @media (min-width: 360px) and (max-width: 999px) {
        //   //margin-top: -1px;
        // }

        .logo-black {
          display: none;
        }

        img {
          @media (min-width: 360px) and (max-width: 999px) {
            width: 133px;
            margin-left: -1px;
            margin-top: 1px;
          }
        }
      }
    }

    &-menu {
      &-list {
        @include fontText($letter-spacing: 0.11px, $line-height: 138%);
        font-weight: $fw_regular;
        @include flex($gap: 50px);

        @media (min-width: 1000px) and (max-width: 1850px) {
          letter-spacing: 0;
          // line-height: 142%;
          gap: 30.7px;
        }

        @media (min-width: 360px) and (max-width: 999px) {
          display: none;
        }
      }
    }

    &-phone {
      line-height: 138%;
      @media (min-width: 1000px) and (max-width: 1850px) {
        //line-height: 142%;
        //margin-top: -2px;
      }

      @media (min-width: 360px) and (max-width: 999px) {
        margin-top: -1px;
      }

      &-link {
        font-size: $fz_20;
        @include font($font-weight: $fw_regular);
        cursor: pointer;

        @media (min-width: 360px) and (max-width: 999px) {
          font-size: $fz_16;
          line-height: 142%;
        }
      }
    }

    .underline::before {
      bottom: -3px;
    }
  }

  &__navigation.navigation-scroll {
    position: fixed;
    width: 100%;
    height: 88px;
    top: 0;
    //left: 0;
    // right: 0;

    background-color: rgba(243, 239, 232, 0.6);
    backdrop-filter: blur(5px);
    z-index: 9999;
    transition: top 0.5s linear;

    @media (min-width: 360px) and (max-width: 999px) {
      //justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-top: 30px;
    }

    .logo-white {
      display: none;
    }
    .logo-black {
      display: block;
      @media (min-width: 360px) and (max-width: 999px) {
        margin-top: -7px;
      }
    }

    a {
      color: $black;
    }

    .underline::before {
      background-color: $black;
    }
  }

  &__navigation.navigation-scroll+&__content{
    padding-top: 5px;
    @media (min-width: 1000px) and (max-width: 1850px){
      padding-top: 0;
    }
    @media (min-width: 360px) and (max-width: 999px){
      padding-top: 2px;
    }
  }

  &__content {
    max-width: 768px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 51px;

    margin: 114px auto 0 auto;

    @media (min-width: 1000px) and (max-width: 1850px) {
      max-width: 914px;
      gap: 51px;
      margin: 117px auto 0 auto;
    }

    @media (min-width: 360px) and (max-width: 999px) {
      max-width: 310px;
      gap: 40px;
      //margin-right: 3px;
      margin: 49px auto 0 auto;
      //padding-top: 0;
      // margin-top: 53px;
      padding-left: 20px;
      padding-right: 20px; //21
    }

    &-title {
      max-width: 768px;
      @include fontText(
        $font-size: $fz_h1,
        $line-height: 109%,
        $letter-spacing: 1.8px
      );
      // margin-bottom: 577.3px;
      margin-left: auto;
      margin-right: auto;
      //margin: 0 auto 0 577.3px;
      // padding-right: 2px;

      @media (min-width: 1000px) and (max-width: 1850px) {
        line-height: 109%;
       
        margin: 0 auto ;
      }

      @media (min-width: 360px) and (max-width: 999px) {
        @include fontText(
          $font-size: $fz_h1_mobile,
          $line-height: 112%,
          $letter-spacing: 0.7px
        );
        margin: 0 auto;
      }
    }

    &-subtitle {
      max-width: 562px;
      @include fontText();
      margin: 0 auto;

      @media (min-width: 1000px) and (max-width: 1850px) {
        max-width: 405px;
        padding-left: 1.85px; //margin
        letter-spacing: 0.015px;
        //@include fontText($letter-spacing: 0.011px);
      }

      @media (min-width: 360px) and (max-width: 999px) {
        max-width: 310px;
        @include fontText(
          $letter-spacing: 0.011px,
          $font-size: $fz_16,
          $line-height: 143%
        );
        padding-left: 0;
        margin-left: -1px;
      }
    }

    &-btn {
      padding-top: 3px;
      margin-bottom: 6px;

      @media (min-width: 1000px) and (max-width: 1850px){
       // padding-top: 5px;
      }

      @media (min-width: 360px) and (max-width: 999px) {
        margin-top: 1px;
        margin-right: 1px;
        padding-top: 5px;
        //margin-bottom: 4px;
      }

      &-link {
        @include fontText(
          $font-size: $fz_17,
          $letter-spacing: -0.1px,
          $color: $black
        );
        font-weight: $fw_regular;
        border-radius: 10px;
        background-color: $white;
        padding: 7.5px 20px 6.5px 20px;
        //padding: 6px 19px 7px 19px;
        transition: 0.3s ease;

        @media (min-width: 1000px) and (max-width: 1850px) {
          padding: 7px 20px;
        }

        @media (min-width: 360px) and (max-width: 999px) {
          font-size: $fz_16;
          padding: 6.5px 20.5px 7.5px 19.5px;
          letter-spacing: -0.11px;
          line-height: 131%;
        }
      }

      &-link:hover {
        color: $white;
        background-color: $orange_200;

        @media (min-width: 360px) and (max-width: 999px) {
          color: $black;
          background-color: $white;
        }
      }

      &-link:active {
        color: $black;
        background-color: $orange_100;

        @media (min-width: 360px) and (max-width: 999px) {
          // color: $black;
          background-color: $white;
        }
      }
    }
  }
}
//////*************
.card {
  // max-width: 1170px;
  margin: 0 auto 135.425px auto;

  @media (min-width: 360px) and (max-width: 999px) {
    margin: 0 auto 75.8px auto;
  }

  &__title {
    margin-bottom: 35px;

    @media (min-width: 360px) and (max-width: 999px) {
      margin-bottom: 30px;
      letter-spacing: 0.7px;
      margin-top: -0.05px;
    }
  }

  &__tabs {
    @include fontText($font-size: $fz_23, $color: $black, $line-height: 122%);
    font-weight: $fw_bold;
    //@include flex();
    margin-bottom: 106px;

    @media (min-width: 1000px) and (max-width: 1850px) {
      margin-left: -1.55px;
      margin-bottom: 106px;
      // letter-spacing: 0.15px;
    }

    @media (min-width: 360px) and (max-width: 999px) {
      @include fontText($font-size: $fz_16, $color: $black);
      margin-bottom: 49px;
      margin-left: -1px;
    }

    &-links {
      text-align: center;
      @include flex($gap: 30px);

      @media (min-width: 1000px) and (max-width: 1850px) {
        letter-spacing: 0px;
        gap: 30.32px;
      }

      @media (min-width: 360px) and (max-width: 999px) {
        max-width: 318px;
        margin: 0 auto;
        gap: 10.3px;
        flex-wrap: wrap;
      }

      &-link {
        display: inline-block;

        @media (min-width: 360px) and (max-width: 999px) {
          line-height: 142%;
          letter-spacing: 0px;
        }
      }

      .underline::before {
        height: 2px;
        background-color: $black;
      }

      .underline:hover::before {
        opacity: 1;
        bottom: -6px;

        @media (min-width: 360px) and (max-width: 999px) {
          opacity: 0;
        }
      }

      .underline.active {
        display: inline-block;
        color: $orange_200;
      }

      .underline.active::before {
        width: 100.05%;
        bottom: -6px;
        height: 2px;
        opacity: 1;
        background-color: $orange_200;

        // @media (min-width: 1000px) and (max-width: 1850px) {
        //   //bottom: -6px;
        // }

        @media (min-width: 360px) and (max-width: 999px) {
          bottom: 1px;
        }
      }
    }
  }

  &__container {
    max-width: 1170px;
    margin: 0 auto;
    @media (min-width: 1000px) and (max-width: 1850px) {
      max-width: 918px;
    }
    @media (min-width: 360px) and (max-width: 999px) {
      max-width: 318px;
    }

    &-content {
      display: none;

      &-items {
        @include flex($gap: 30px);
        flex-wrap: wrap;

        @media (min-width: 1000px) and (max-width: 1850px) {
          gap: 18px;
        }

        @media (min-width: 360px) and (max-width: 999px) {
          gap: 18px;
        }

        .card-one {
          background: $card_gradient,
            url("images/card\ tour\ photo-1.jpg") no-repeat center; // / cover//center
          background-size: 100%;
        }

        .card-two {
          background: $card_gradient,
            url("images/background-card-2.jpg") no-repeat center; // / cover
          background-size: 100%;

          @media (min-width: 1000px) and (max-width: 1850px) {
            background: $card_gradient,
              url("images/background-card-2-pad.jpg") no-repeat center; // / cover
            background-size: 100%;
          }

          @media (min-width: 360px) and (max-width: 999px) {
            background: $card_gradient,
              url("images/mobile-background-card-2.png") no-repeat center;
          }
        }

        .card-three {
          background: $card_gradient,
            url("images/background-card-3.jpg") no-repeat center;
          background-size: 100%;

          @media (min-width: 1000px) and (max-width: 1850px) {
            background: $card_gradient,
              url("images/background-card-3-pad.jpg") no-repeat center;
            background-size: 100%;
          }

          @media (min-width: 360px) and (max-width: 999px) {
            background: $card_gradient,
              url("images/mobile-background-card-3.png") no-repeat center top;
          }
        }

        .card-four {
          background: $card_gradient,
            url("images/background-card-4.jpg") no-repeat center;
          background-size: 100%;

          @media (min-width: 1000px) and (max-width: 1850px) {
            background: $card_gradient,
              url("images/background-card-4-pad.jpg") no-repeat center;
            background-size: 100%;
          }

          // @media (min-width: 360px) and (max-width: 999px) {
          //   background: $card_gradient,
          //     url("images/background-card-4-pad.jpg") no-repeat center;
          //   background-size: 100%;
          // }
        }

        .card-five {
          background: $card_gradient,
            url("images/background-card-5.jpg") no-repeat center;
          background-size: 100%;

          @media (min-width: 1000px) and (max-width: 1850px) {
            background: $card_gradient,
              url("images/background-card-5-pad.jpg") no-repeat center;
            background-size: 100%;
          }

          @media (min-width: 360px) and (max-width: 999px) {
            background: $card_gradient,
              url("images/mobile-background-card-5.jpg") no-repeat center; // / 100% 100%;
            background-size: 100%;
          }
        }

        .card-six {
          background: $card_gradient,
            url("images/background-card-6.jpg") no-repeat center;
          background-size: 100%;

          @media (min-width: 1000px) and (max-width: 1850px) {
            background: $card_gradient,
              url("images/background-card-6-pad.jpg") no-repeat center;
            background-size: 100%;
          }

          @media (min-width: 360px) and (max-width: 999px) {
            background: $card_gradient,
              url("images/mobile-background-card-6.png") no-repeat left;
          }
        }

        &-item {
          width: 370px;
          height: 531px;
          color: $white;
          border-radius: 50px;
          padding: 50px 50px 50px 50px;
          cursor: pointer;
          transition: background-size 0.5s ease-in;

          @media (min-width: 1000px) and (max-width: 1850px) {
            width: 450px;
            //padding:50px 50px 52px 50px;
          }

          @media (min-width: 360px) and (max-width: 999px) {
            padding: 26px 25px 25px 25px;
            width: 318px;
            height: 318px;
            border-radius: 20px;
          }

          &-title {
            margin-bottom: 16px;

            @media (min-width: 1000px) and (max-width: 1850px) {
              margin-bottom: 16px;
            }

            @media (min-width: 360px) and (max-width: 999px) {
              margin-bottom: 14px;
              letter-spacing: 1px;
            }
          }

          &-price {
            @include fontText($font-size: $fz_17, $letter-spacing: -0.1px);
            margin-bottom: 270px;

            @media (min-width: 1000px) and (max-width: 1850px) {
              margin-bottom: 313px;
            }

            @media (min-width: 360px) and (max-width: 999px) {
              font-size: $fz_16;
              margin-bottom: 174px;
            }
          }

          .detailed a::after {
            padding-left: 16.5px;
            top: -1px;

            @media (min-width: 360px) and (max-width: 999px) {
              top: 1px;
            }
          }
        }

        &-item:hover {
          background-size: 120%;

          @media (min-width: 360px) and (max-width: 999px) {
            background-size: 100%;
          }

          .detailed {
            background-color: $green_400;

            @media (min-width: 360px) and (max-width: 999px) {
              background-color: transparent;
            }
          }

          .detailed:active {
            background-color: $orange_200;

            @media (min-width: 360px) and (max-width: 999px) {
              background-color: transparent;
            }
          }
        }
      }
    }

    &-content.active-card {
      display: block;
    }
  }
}
//////*************

.application {
  text-align: center;
  margin-bottom: 135px; 

  @media (min-width: 360px) and (max-width: 999px) {  
    margin-bottom: 77px;
  }

  &__title {
    margin-bottom: 30px;
    margin-top: -0.8px;

    @media (min-width: 1000px) and (max-width: 1850px) {
      margin-bottom: 29.5px;
    }

    @media (min-width: 360px) and (max-width: 999px) {
      letter-spacing: 0.7px;
      margin-bottom: 20px;
      margin-top: 0px;
      padding-top: 0.5px;
      padding-left: 1px;
    }
  }

  &__subtitle {
    margin-bottom: 99px;
    line-height: 144%;

    @media (min-width: 1000px) and (max-width: 1850px) {
      margin-bottom: 100px;
    }

    @media (min-width: 360px) and (max-width: 999px) {
      margin-bottom: 40px;
      line-height: 142%;
    }
  }

  &__box {
    display: inline-block;
    max-width: 1170px;

    @media (min-width: 1000px) and (max-width: 1850px) {
      max-width: 918px;
    }

    @media (min-width: 360px) and (max-width: 999px) {
      max-width: 318px;
    }

    &-form {
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      gap: 33px 30px; 
      padding: 70px;
      background-color: $white;
      border-radius: 50px;
      line-height: 142%;
      letter-spacing: 0px;

      @media (min-width: 1000px) and (max-width: 1850px) {
        gap: 32.1px 20px;
        padding: 59px 60px 60px 60px;
      }

      @media (min-width: 360px) and (max-width: 999px) {
        border-radius: 30px;
        gap: 30px 0px;
        padding: 21.5px 20px 40px 20px; //20
      }

      label,
      input,
      select {
        display: block;
        @include fontText($color: $black);

        @media (min-width: 360px) and (max-width: 999px) {
          font-size: $fz_16;
        }
      }

      label {
        margin-bottom: 8px;
        pointer-events: none;

        @media (min-width: 1000px) and (max-width: 1850px) {
          margin-bottom: 7.5px;
        }

        @media (min-width: 360px) and (max-width: 999px) {
          margin-bottom: 7px;
        }
      }

      input,
      select {
        width: 500px;
        background-color: $beige_100;
        border: 1px solid $beige_200;
        border-radius: 10px;
        padding: 18px 20px 19px 18.9px;
        //padding: 18.5px 19px 19px 19px;
        cursor: pointer;

        @media (min-width: 1000px) and (max-width: 1850px) {
          width: 389px;
          padding-top: 18.8px;
          padding-bottom: 19.8px;
        }

        @media (min-width: 360px) and (max-width: 999px) {
          width: 278px;
          padding: 10.7px 9.5px 8px 9px;
        }
      }

      input:focus:hover,
      input:focus {
        background-color: $beige_200;
        border-color: $gray_300;
      }
      // select:focus:hover,select:focus {
      //  background-color: $beige_200;
      //   border-color: $gray_300;
      // }

      ::placeholder {
        color: $gray_300;
      }

      input:hover,
      textarea:hover {
        background-color: $beige_200;

        @media (min-width: 360px) and (max-width: 999px) {
          background-color: $beige_100;
        }
      }

      select {
        // width: 500px;
        // border-radius: 10px;
        // border: 1px solid $beige_200;
        appearance: none;
        //padding: 20px;
        //padding: 19px;
        background: url("images/arrow-dropdown.svg") no-repeat 453px/26px 26px,
          $select_gradient;
        // cursor: pointer;

        @media (min-width: 1000px) and (max-width: 1850px) {
          width: 389px;
          background: url("images/arrow-dropdown.svg") no-repeat 341.8px/26px
              26px,
            $select_gradient;
          padding: 19px 19px 19px 19.5px; //?19.5
          letter-spacing: 0px;
          // margin-bottom: -0.01px;
        }

        @media (min-width: 360px) and (max-width: 999px) {
          width: 278px;
          padding: 12px 10px 9px 9.5px;
          background: url("images/arrow-dropdown.svg") no-repeat 241px/26px 26px,
            $select_gradient;
          margin-bottom: 2px;
        }

        option {
          @include fontText($color: $black);
          cursor: pointer;

          @media (min-width: 360px) and (max-width: 999px) {
            font-size: $fz_16;
          }
        }
        // option:checked{
        //   background-color: $beige_200 !important;
        // }
      }

      select:required:invalid {
        color: $gray_300;
        padding-right: 0;
        //padding-left: 19.5px;
      }
      select:required:invalid:focus:hover,
      select:required:invalid:focus {
        color: $gray_300;
        padding-right: 0;
        //padding-left: 19.5px;
      }

      select:focus:hover,
      select:focus {
        color: $black;
        border-color: $gray_300;
        background: url("images/arrow-dropdown.svg") no-repeat 453px/26px 26px,
          $select_gradient_hover;

        @media (min-width: 1000px) and (max-width: 1850px) {
          background: url("images/arrow-dropdown.svg") no-repeat 341.8px/26px
              26px,
            $select_gradient_hover;
        }

        @media (min-width: 360px) and (max-width: 999px) {
          background: url("images/arrow-dropdown.svg") no-repeat 241px/26px 26px,
            $select_gradient_hover;
        }
      }

      select:hover {
        background: url("images/arrow-dropdown.svg") no-repeat 453px/26px 26px,
          $select_gradient_hover;

        @media (min-width: 1000px) and (max-width: 1850px) {
          background: url("images/arrow-dropdown.svg") no-repeat 341.8px/26px
              26px,
            $select_gradient_hover;
        }
        @media (min-width: 360px) and (max-width: 999px) {
          background: url("images/arrow-dropdown.svg") no-repeat 241px/26px 26px,
            $select_gradient;
        }
      }

      &-email {
        @media (min-width: 360px) and (max-width: 999px) {
          margin-bottom: 1px;
        }

        input {
          @media (min-width: 360px) and (max-width: 999px) {
            padding-top: 10px;
          }
        }
      }

      &-tel {
        @media (min-width: 360px) and (max-width: 999px) {
          margin-bottom: 1.3px;
        }
      }

      &-date {
        margin-bottom: 0px;

        @media (min-width: 360px) and (max-width: 999px) {
          margin-bottom: 1.2px;
        }

        label {
          @media (min-width: 1000px) and (max-width: 1850px) {
            margin-bottom: 7.8px;
          }
        }

        input {
          //padding: 18px 20px 19px 18.9px;

          @media (min-width: 1000px) and (max-width: 1850px) {
            //padding-top: 18.7px;
            color: red; //временно
          }

          @media (min-width: 360px) and (max-width: 999px) {
            width: 280px;
            padding: 10px 9px 8px 9px;
            margin-bottom: 0px;
          }
        }

        input[type="date"] {
          padding-top: 17px !important;

          @media (min-width: 360px) and (max-width: 999px) {
            width: 280px;
            padding: 7.5px 9px 8px 9px !important;
            margin-bottom: 0px;
          }
        }
      }

      .date-from {
        @media (min-width: 360px) and (max-width: 999px) {
          margin-bottom: 2px;
        }
      }

      &-comment {
        width: 100%;
        //margin-bottom: -4.8px;

        @media (min-width: 1000px) and (max-width: 1850px) {
          margin-top: -0.8px;
          margin-bottom: -1px;
        }

        @media (min-width: 360px) and (max-width: 999px) {
          margin-bottom: -1px;
        }

        label {
          margin-bottom: 8px; //7px;

          @media (min-width: 1000px) and (max-width: 1850px) {
            margin-bottom: 7.5px;
          }

          @media (min-width: 360px) and (max-width: 999px) {
            margin-bottom: 7px;
          }
        }

        textarea {
          height: 152px;
          width: 100%;
          @include fontText($color: $black);
          background-color: $beige_100;
          border: 1px solid $beige_200;
          border-radius: 10px;
          padding: 10px;
          resize: none;
          cursor: pointer;

          @media (min-width: 360px) and (max-width: 999px) {
            font-size: $fz_16;
            height: 132px;
          }
        }

        textarea:focus {
          box-shadow: 0px 0px 0px 1px $gray_300 inset;
          color: $black;
        }
      }

      &-agreement {
        input {
          padding: 0;
          //margin-top: -1px;
        }

        &-radiobox {
          // width: fit-content;
          display: flex;
          flex-direction: column;
          // flex-wrap: wrap;
          margin-bottom: 24px;

          @media (min-width: 1000px) and (max-width: 1850px) {
            margin-top: 2.8px;
            margin-bottom: 25px;
          }

          @media (min-width: 360px) and (max-width: 999px) {
            margin-bottom: 23px;
          }

          &-question {
            //width: 100%;
            @include fontText($line-height: 71%, $color: $black);
            margin-bottom: 15.5px;

            @media (min-width: 1000px) and (max-width: 1850px) {
              //margin-bottom: 14.5px;
            }

            @media (min-width: 360px) and (max-width: 999px) {
              font-size: $fz_16;
              margin-bottom: 15px;
              //margin-top: 1px;
              //margin-right: 30px;
            }
          }
          &-answer {
            display: flex;
            gap: 31px;
            &-yes,
            &-no {
              display: flex;
              gap: 11px;
              //@include flex($gap: 11px, $justify-content: start);
              //  margin-right: 31px;

              @media (min-width: 360px) and (max-width: 999px) {
                //  @include flex($gap: 10px, $justify-content: start);
                //margin-right: 30px;
                gap: 9.5px;
              }
            }
          }

          label {
            margin-top: -0.5px;
          }
        }

        &-contract {
          //font-size: $fz_17;
          position: relative;
          @include flex($gap: 19px);
          margin-bottom: 33px;

          @media (min-width: 1000px) and (max-width: 1850px) {
            gap: 11px;
            margin-bottom: 32.5px;
          }

          @media (min-width: 360px) and (max-width: 999px) {
            // display: inline;
            gap: 10px;
            align-items: start;
            margin-bottom: 27.5px;
            line-height: 141%;
          }
          input {
            position: absolute;
            //visibility: hidden;
          }
          label {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
          }

          .checkbox-text {
            @include fontText(
              $font-size: $fz_17,
              $letter-spacing: -0.19px,
              $color: $gray_300
            );
            margin-bottom: 0;

            @media (min-width: 360px) and (max-width: 999px) {
              flex-shrink: 2;
              font-size: $fz_16;
              letter-spacing: 0px;
              line-height: 142%;
            }
          }
          .checkbox-text a {
            color: $black;
            font-size: 17px;
            line-height: 142%;
            letter-spacing: -0.2px;
            margin-top: 0.5px;

            @media (min-width: 1000px) and (max-width: 1850px) {
              margin-top: 0px;
            }

            @media (min-width: 360px) and (max-width: 999px) {
              letter-spacing: -0.6px;
              line-height: 141%;
            }
          }

          .checkbox-text a:active {
            color: $green_400;
          }

          .underline::before {
            background-color: $black;
            bottom: 2px;
          }
          .underline:active::before {
            background-color: $green_400;
          }
        }

        .custom-checkbox {
          @media (min-width: 360px) and (max-width: 999px) {
            flex-shrink: 0;
          }
        }

        .custom-radio,
        .custom-checkbox {
          appearance: none;
          position: relative;
          width: 26px;
          height: 26px;
          background: $white;
          border-radius: 4px;
          border: 2px solid $black;

          @media (min-width: 360px) and (max-width: 999px) {
            width: 20px;
            height: 20px;
          }
        }

        .custom-radio {
          border-radius: 50%;
        }

        .custom-radio:focus,
        .custom-checkbox:focus {
          border: 2px solid $black !important;
          background-color: $white !important ;
        }

        .custom-radio::after {
          content: "";
          position: absolute;
          width: 0px;
          height: 0px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }

        .custom-radio:checked {
          background: $white;
        }

        .custom-radio:checked::after {
          width: 12px;
          height: 12px;
          background-color: $black;

          @media (min-width: 360px) and (max-width: 999px) {
            width: 9px;
            height: 9px;
          }
        }

        .custom-checkbox::after {
          content: "";
          position: absolute;
          top: 24%;
          left: 23.5%;
          background: url("images/Checkbox\ arrow.svg") no-repeat;
          width: 0px;
          height: 0px;

          @media (min-width: 360px) and (max-width: 999px) {
            background: url("images/Checkbox\ arrow\ mobile.svg") no-repeat;
            top: 24%;
            left: 20%;
          }
        }

        .custom-checkbox:checked {
          background-color: $white;
        }
        .custom-checkbox:checked::after {
          width: 15px;
          height: 14px;
        }
        .custom-radio:hover,
        .custom-checkbox:hover {
          background: $white;
        }
        .custom-radio:focus,
        .custom-checkbox:focus {
          box-shadow: none;
        }
        .custom-checkbox:disabled,
        .custom-radio:disabled {
          background: $white;
          border-color: $white;
        }

        &-buttons {
          display: flex;
          gap: 30px;

          @media (min-width: 360px) and (max-width: 999px) {
            gap: 10px;
            // margin-bottom: -1px;
          }

          &-btn {
            @include fontText();
            width: 235px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 10px;
            transition: background 0.1s ease-in-out 0.1s;

            @media (min-width: 360px) and (max-width: 999px) {
              width: 134px;
              font-size: $fz_16;
              padding-top: 13px;
              padding-bottom: 11px;
              //border-radius: 10px;
            }
          }

          .submit {
            background-color: $green_400;
          }

          .submit:hover {
            background-color: $green_300;

            @media (min-width: 360px) and (max-width: 999px) {
              background-color: $green_400;
            }
          }

          .submit:active {
            background-color: $green_200;
          }

          .reset {
            background-color: $green_100;
            color: $green_400;
          }

          .reset:hover {
            background-color: $gray_100;

            @media (min-width: 360px) and (max-width: 999px) {
              background-color: $green_100;
            }
          }

          .reset:active {
            background-color: $gray_200;
          }
        }
      }
    }
  }
}

//////**************

.reviews {
  margin-bottom: 96.5px;
  position: relative;

  @media (min-width: 1000px) and (max-width: 1850px) {
    margin-bottom: 96px;
  }

  @media (min-width: 360px) and (max-width: 999px) {
    margin-bottom: 56px;
  }

  &__title {
    margin-bottom: 29.5px; //30//30.5

    @media (min-width: 360px) and (max-width: 999px) {
      letter-spacing: 0.7px;
      margin-bottom: 20px;
    }
  }

  .block-transparent-for-scroll {
    display: none;
    @media (min-width: 360px) and (max-width: 999px) {
      display: block;
      position: absolute;
      z-index: 50;
      opacity: 0;
      // background: #efa501;
      width: 100vw;
      height: 84%;
    }
  }

  &__swiper {
    position: relative;
    width: 1170px;
    height: 100%;
    padding-bottom: 20px;

    @media (min-width: 1000px) and (max-width: 1850px) {
      width: 918px;
    }

    @media (min-width: 360px) and (max-width: 999px) {
      width: 318px;
      max-height: 1059px;
    }
  }

  .swiper-wrapper {
    @media (min-width: 360px) and (max-width: 999px) {
      transform: none !important;
    }
  }

  .swiper-slide,
  .swiper-slide-mobile {
    max-width: 570px;
    height: 673px;
    font-size: $fz_23;
    line-height: 122%;
    border-radius: 50px;
    background-color: $beige_200;
    padding: 39px 40px 40px 40px;
    cursor: pointer;

    @media (min-width: 1000px) and (max-width: 1850px) {
      max-width: 450px;
      height: 841px;
      padding: 38.5px 40px 40px 40px;
    }
    @media (min-width: 360px) and (max-width: 999px) {
      //display: none;

      max-width: 318px;
      height: auto;
      font-size: $fz_16;
      line-height: 142%;
      border-radius: 20px;
      padding: 20px 20px 13px 20px;
    }

    &__content-one {
      font-weight: $fw_bold;
      //line-height: 141%;
      @media (min-width: 360px) and (max-width: 999px) {
        margin-bottom: 36.5px; //40
        line-height: 144%;
        letter-spacing: 0.01px;
      }
    }

    .mari {
      margin-bottom: 261px;
      @media (min-width: 1000px) and (max-width: 1850px) {
        margin-bottom: 373px;
      }
      @media (min-width: 360px) and (max-width: 999px) {
        margin-bottom: 34px;

        img {
          margin-top: -1px;
        }
      }
    }

    .pavel {
      margin-bottom: 64px;

      @media (min-width: 360px) and (max-width: 999px) {
        margin-bottom: 35px;
      }

      img {
        @media (min-width: 1000px) and (max-width: 1850px) {
          margin-top: 3px;
        }

        @media (min-width: 360px) and (max-width: 999px) {
          margin-top: -1px;
        }
      }
    }

    &__content-two {
      @include flex($justify-content: space-between);
      &-text {
        &-title {
          margin-bottom: 8px;

          // @media (min-width: 1000px) and (max-width: 1850px) {
          //   margin-bottom: 8px;
          // }

          @media (min-width: 360px) and (max-width: 999px) {
            letter-spacing: 1px;
          }
        }
        &-subtext {
          @include fontText(
            $letter-spacing: -0.15px,
            $font-size: $fz_17,
            $color: $gray_300
          );

          @media (min-width: 360px) and (max-width: 999px) {
            @include fontText($font-size: $fz_16, $color: $gray_300);
            letter-spacing: -0.2px;
            margin-bottom: -16px;
            margin-top: 9px;
          }
        }
      }
      &-foto {
        padding-top: 4.5px; //5
        // @media (min-width: 360px) and (max-width: 999px) {
        // }

        img {
          width: 75px;
          height: 75px;
          border-radius: 50%;
        }
      }
    }
  }

  .swiper-slide-active {
    margin-bottom: 18px;
  }

  .swiper-slide-desk {
    @media (min-width: 360px) and (max-width: 999px) {
      display: none;
    }
  }

  .swiper-pagination {
    bottom: 0px;
    @media (min-width: 360px) and (max-width: 999px) {
      top: 95px;
      right: 6px;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: $black;
  }
}

//////***************

.gallery {
  max-width: 1920px;
  margin: 0 auto 135px auto;
  padding-left: 30px;
  padding-right: 30px;
  //overflow: hidden;
  @media (min-width: 1000px) and (max-width: 1850px) {
    max-width: 1024px;
  }

  @media (min-width: 360px) and (max-width: 999px) {
    max-width: 360px;
    padding-left: 21px;
    padding-right: 21px;
    margin: 0 auto 76px auto;
  }

  &__title {
    @media (min-width: 360px) and (max-width: 999px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 318px;
      letter-spacing: 0.7px;
    }
  }

  &__subtitle {
    line-height: 143%;
    margin-bottom: 99px; //100

    @media (min-width: 360px) and (max-width: 999px) {
      margin-bottom: 49px; //50
    }
  }

  &__container {
    @include flex($gap: 30px);
    flex-direction: column;
    // max-width: 1920px;
    // padding-left: 30px;
    // padding-right: 30px;

    // @media (min-width: 1000px) and (max-width: 1850px) {
    //   max-width: 1024px;
    // }

    @media (min-width: 360px) and (max-width: 999px) {
      gap: 18px;
      // max-width: 360px;
    }

    &-content {
      // max-width: 1860px;

      // @media (min-width: 1000px) and (max-width: 1850px) {
      //   max-width: 984px;
      // }

      // @media (min-width: 360px) and (max-width: 999px) {
      //   max-width: 318px;
      // }

      &-one,
      &-two,
      &-three {
        height: 301px;
        position: relative;
        display: flex;
        gap: 30px;

        @media (min-width: 1000px) and (max-width: 1850px) {
          gap: 20px;
        }
        @media (min-width: 360px) and (max-width: 999px) {
          height: 110px;
        }

        img {
          height: 301px;
          border-radius: 50px;
          object-fit: cover;

          @media (min-width: 360px) and (max-width: 999px) {
            height: 110px;
            border-radius: 20px;
          }
        }
      }

      &-one,
      &-three {
        @media (min-width: 1000px) and (max-width: 1850px) {
          img {
            width: 314.67px;
          }
        }
      }

      &-two,
      &-three {
        @media (min-width: 360px) and (max-width: 999px) {
          gap: 10px;
        }
      }

      &-one {
        @media (min-width: 360px) and (max-width: 999px) {
          gap: 18px;
        }

        img {
          @media (min-width: 360px) and (max-width: 999px) {
            width: 150px;
          }
        }

        &-first-foto-one {
          &-img {
            width: 444px;

            @media (min-width: 1000px) and (max-width: 1850px) {
              object-fit: fill !important;
            }

            @media (min-width: 360px) and (max-width: 999px) {
              object-fit: fill !important;
            }
          }
        }

        &-first-foto-two,
        &-first-foto-three {
          &-img {
            width: 441.5px;
          }
        }

        &-first-foto-four {
          &-img {
            width: 443px;

            @media (min-width: 1000px) and (max-width: 1850px) {
              object-fit: fill !important;
            }
            @media (min-width: 360px) and (max-width: 999px) {
              object-fit: fill !important;
            }
          }
        }
      }

      &-two {
        img {
          @media (min-width: 1000px) and (max-width: 1850px) {
            width: 231px;
          }

          @media (min-width: 360px) and (max-width: 999px) {
            width: 99.33px;
          }
        }
        &-second-foto-one {
          &-img {
            width: 349.16px;
          }
        }
        &-second-foto-two,
        &-second-foto-three,
        &-second-foto-four {
          &-img {
            width: 347.32px;
          }
        }

        &-second-foto-five {
          &-img {
            width: 348.87px;
          }
        }
      }

      &-three {
        img {
          max-width: 442.5px;

          @media (min-width: 360px) and (max-width: 999px) {
            max-width: 154px;
          }
        }
      }

      .padd,
      .mob-img {
        display: none;
      }

      .deletePad,
      .mob-img {
        @media (min-width: 1000px) and (max-width: 1850px) {
          display: none;
        }
      }

      .deletePad,
      .deleteMobile,
      .padd {
        @media (min-width: 360px) and (max-width: 999px) {
          display: none;
        }
      }

      .padd {
        @media (min-width: 1000px) and (max-width: 1850px) {
          display: block;
        }
      }

      .mob-img {
        @media (min-width: 360px) and (max-width: 999px) {
          display: block;
        }
      }
    }
  }
}

//////****************
.stories {
  text-align: center;
  margin-bottom: 134px;

  @media (min-width: 1000px) and (max-width: 1850px) {
    margin-bottom: 135px;
  }

  @media (min-width: 360px) and (max-width: 999px) {
    margin-bottom: 76px;
  }

  &__title {
    @media (min-width: 360px) and (max-width: 999px) {
      max-width: 318px;
      margin-left: auto;
      margin-right: auto;
      letter-spacing: 0.6px;
    }
  }

  &__subtitle {
    line-height: 141%;
    margin-bottom: 99px;

    @media (min-width: 360px) and (max-width: 999px) {
      line-height: 142%;
      margin-bottom: 49px;
    }
  }

  &__container {
    display: inline-block;
    width: 1170px;
    text-align: left;

    @media (min-width: 1000px) and (max-width: 1850px) {
      width: 918px;
    }

    @media (min-width: 360px) and (max-width: 999px) {
      width: 318px;
    }

    &-block {
      position: relative;
      width: 100%;
      padding: 60px;
      border-radius: 50px;
      cursor: pointer;

      @media (min-width: 360px) and (max-width: 999px) {
        //  padding: 30.5px 30px 34px 30px;
        padding: 30px 25px 30px 30px;
        border-radius: 20px;
      }

      &-content {
        max-width: 554px;
        color: $white;

        @media (min-width: 360px) and (max-width: 999px) {
          width: auto; //263
          margin-bottom: 140px;
        }

        &-title {
          margin-bottom: 37px; //37

          @media (min-width: 1000px) and (max-width: 1850px) {
            margin-bottom: 37px;
          }

          @media (min-width: 360px) and (max-width: 999px) {
            max-width: 162px;
            letter-spacing: 1px; //4%
            line-height: 122%; //122
            margin-bottom: 23px; //19.5
          }
        }
        &-text {
          @include fontText();
          //margin-bottom: 26px;

          @media (min-width: 1000px) and (max-width: 1850px) {
            //margin-bottom: 27px;
          }

          @media (min-width: 360px) and (max-width: 999px) {
            @include fontText(
              $line-height: 142%,
              //144
              $font-size: $fz_16
            );
          }
        }
        &-list {
          margin-top: 26px;
          @media (min-width: 1000px) and (max-width: 1850px) {
            margin-top: 27px;
          }

          @media (min-width: 360px) and (max-width: 999px) {
            margin-top: 23px;
          }

          &-item {
            position: relative;
            @include fontText();
            margin-left: 30px;

            @media (min-width: 360px) and (max-width: 999px) {
              font-size: $fz_16;
              margin-left: 24px;
              line-height: 144%;
            }
          }
          &-item::before {
            content: "";
            display: inline-block;
            position: absolute;
            color: $white;
            left: -17px;
            top: 11px;
            border: 2.5px solid $white;
            border-radius: 50px;
            background-color: $white;

            @media (min-width: 360px) and (max-width: 999px) {
              border: 2px solid $white;
              top: 9px;
              left: -14.5px;
            }
          }
        }
      }

      &-detailed {
        display: inline-block;
        position: absolute;
        bottom: 62px;

        @media (min-width: 360px) and (max-width: 999px) {
          bottom: 35px;
        }
      }

      .detailed a::after {
        top: 0px;

        @media (min-width: 360px) and (max-width: 999px) {
          padding-left: 17px;
          top: 2px;
        }
      }

      &-network {
        position: absolute;
        display: inline-flex;
        gap: 35px;
        color: $white;
        right: 61.2px;
        bottom: 59px;

        // @media (min-width: 1000px) and (max-width: 1850px) {
        //   right: 61.5px;
        //   bottom: 59px;
        // }

        @media (min-width: 360px) and (max-width: 999px) {
          display: none;
        }

        &-link {
          @include fontText();
        }
        &-link:active {
          color: $orange_200;
        }
        .underline:active::before {
          background-color: $orange_200 !important; //?
        }
      }
    }

    &-block:hover {
      .detailed {
        background-color: $green_400;
        @media (min-width: 360px) and (max-width: 999px) {
          background-color: transparent;
        }
      }
      .detailed:active {
        background-color: $orange_200;
        @media (min-width: 360px) and (max-width: 999px) {
          background-color: transparent;
        }
      }
    }

    .one-block {
      background: $stories_gradient,
        url("images/story\ photo-1.jpg") no-repeat center;

      margin-bottom: 50px;

      @media (min-width: 1000px) and (max-width: 1850px) {
        background: $stories_gradient,
          url("images/story\ photo-1Pad.jpg") no-repeat center;
      }

      @media (min-width: 360px) and (max-width: 999px) {
        background: $stories_gradient,
          url("images/story\ photo-1Mobile.png") no-repeat center;

        margin-bottom: 20px;
      }
    }

    .one-block &-block-content {
      margin-bottom: 142px;

      @media (min-width: 360px) and (max-width: 999px) {
        margin-bottom: 88.5px;
      }
    }

    .two-block {
      background: $stories_gradient,
        url("images/story\ photo-2.jpg") no-repeat center;
      margin-bottom: 50px;

      @media (min-width: 1000px) and (max-width: 1850px) {
        background: $stories_gradient,
          url("images/story\ photo-2Pad.jpg") no-repeat center;
        margin-bottom: 50px;
      }

      @media (min-width: 360px) and (max-width: 999px) {
        background: $stories_gradient,
          url("images/story\ photo-2Mobile.png") no-repeat center;
        margin-bottom: 20px;
      }
    }

    .two-block &-block-content-text {
      line-height: 141%;
      @media (min-width: 360px) and (max-width: 999px) {
        line-height: 142%;
      }
    }
    .two-block &-block-network {
      bottom: 58px;
      @media (min-width: 1000px) and (max-width: 1850px) {
        bottom: 59px;
      }
    }
    .two-block &-block-content {
      margin-bottom: 254.5px;
      // @media (min-width: 1000px) and (max-width: 1850px) {
      //   margin-bottom: 254.5px;
      // }
      @media (min-width: 360px) and (max-width: 999px) {
        margin-bottom: 181px;
      }
    }

    .three-block &-block-content {
      margin-bottom: 253.5px;

      @media (min-width: 360px) and (max-width: 999px) {
        margin-bottom: 181px;
      }
    }

    .two-block &-block-content-title {
      margin-bottom: 37px;

      @media (min-width: 360px) and (max-width: 999px) {
        margin-bottom: 22px;
      }
    }

    .three-block {
      background: $stories_gradient,
        url("images/story\ photo-3.jpg") no-repeat center;

      @media (min-width: 1000px) and (max-width: 1850px) {
        background: $stories_gradient,
          url("images//story photo-3Pad.jpg") no-repeat 48%;
      }

      @media (min-width: 360px) and (max-width: 999px) {
        background: $stories_gradient,
          url("images/story\ photo-3Mobile.png") no-repeat center;
      }

      .detailed {
        @media (min-width: 360px) and (max-width: 999px) {
          bottom: 34px;
        }
      }
    }
    .three-block &-block-content {
      margin-bottom: 254.5px;
      @media (min-width: 1000px) and (max-width: 1850px) {
        margin-bottom: 253.5px;
      }

      @media (min-width: 360px) and (max-width: 999px) {
        margin-bottom: 180px;
      }
    }
    .three-block &-block-content-title {
      margin-bottom: 38px;

      @media (min-width: 1000px) and (max-width: 1850px) {
        margin-bottom: 37px;
      }

      @media (min-width: 360px) and (max-width: 999px) {
        margin-bottom: 21px;
      }
    }
 

    .one-block,
    .two-block,
    .three-block {
      background-size: 100%;
      transition: background-size 0.5s ease;

      @media (min-width: 360px) and (max-width: 999px) {
        background-size: cover;
      }
    }
    .one-block:hover,
    .two-block:hover,
    .three-block:hover {
      background-size: 153%;
      transition: background-size 0.5s ease;

      @media (min-width: 360px) and (max-width: 999px) {
        background-size: 100%;
      }
    }
  }
}
//////*****************
.communication {
  @include flex();
  margin-bottom: 135px;

  @media (min-width: 360px) and (max-width: 999px) {
    margin-bottom: 75px;
  }

  &__block {
    max-width: 771px;
    @include flex($gap: 30px);

    @media (min-width: 1000px) and (max-width: 1850px) {
      gap: 30.5px;
    }

    @media (min-width: 360px) and (max-width: 999px) {
      max-width: 360px;
      flex-wrap: wrap;
      gap: 31.13px;
    }

    &-background {
      min-width: 370px;
      min-height: 370px;
      border-radius: 50px;
      background: url("images/footer  photo.jpg") no-repeat center/100% 100%;

      @media (min-width: 1000px) and (max-width: 1850px) {
        margin-left: -0.8px;
      }

      @media (min-width: 360px) and (max-width: 999px) {
        //background-size: 100% 100%;
        min-width: 130px;
        min-height: 133px;
        border-radius: 20px;
      }
    }

    &-content {
      @media (min-width: 360px) and (max-width: 999px) {
        text-align: center;
      }

      &-title {
        margin-bottom: 21px;
        // margin-top: -1px;

        @media (min-width: 1000px) and (max-width: 1850px) {
          margin-top: 0;
          margin-bottom: 20.5px;
        }

        @media (min-width: 360px) and (max-width: 999px) {
          letter-spacing: 0.9px;
          margin-bottom: 21px;
          //margin-top: -0.5px;
        }
      }

      &-text {
        @include fontText($color: $gray_300);

        @media (min-width: 360px) and (max-width: 999px) {
          max-width: 292px;
          @include fontText($font-size: $fz_16, $color: $gray_300);
        }
      }
      .email {
        cursor: pointer;
        color: $black;
        position: relative;
      }
      .underline::before {
        position: absolute;
        bottom: 2px;
        background-color: $black;
      }
      .email:active {
        color: $green_400;
      }
      .underline:active::before {
        background-color: $green_400;
      }
    }
  }
}
//////*****************
.footer {
  @include flex();
  background-color: $beige_200;

  @media (min-width: 360px) and (max-width: 999px) {
    flex-wrap: wrap;
    text-align: center;
  }

  &__container {
    width: 1168px;
    @include flex($justify-content: space-between);
    padding: 30px 0;

    @media (min-width: 1000px) and (max-width: 1850px) {
      width: 918px;
    }

    @media (min-width: 360px) and (max-width: 999px) {
      display: inline-block;
      padding: 22px 21.5px 21px 21.5px;
    }

    &-text {
      @include fontText($color: $gray_300);

      @media (min-width: 360px) and (max-width: 999px) {
        font-size: $fz_16;
        margin-bottom: 7px;
      }
    }

    &-network {
      display: flex;
      gap: 25px;
      align-items: center;

      @media (min-width: 360px) and (max-width: 999px) {
        justify-content: center;
        gap: 13px;
      }

      &-container {
        &-link {
          @include fontText($color: $black);
          display: flex;
          gap: 10.8px;

          @media (min-width: 1000px) and (max-width: 1850px) {
            gap: 10.5px;
          }

          @media (min-width: 360px) and (max-width: 999px) {
            font-size: $fz_16;
            gap: 2px;
          }

          &-icon {
            width: 26px;
            height: 26px;
            margin-top: 1px;

            @media (min-width: 360px) and (max-width: 999px) {
              margin-top: -2px;
            }
          }
          .inst {
            margin-left: -1.3px;
          }
        }
      }
    }

    .underline::before {
      background-color: $black;
      right: 0;
    }
    .instagram.underline::before {
      width: 72.5%;
    }

    .facebook.underline::before {
      width: 69.5%;
    }
    .vkontakte.underline::before {
      width: 70%;
    }
  }
}
