@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
h2 {
  font-size: 59px;
  letter-spacing: 0;
  line-height: 124%;
  color: #1b1f2b;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 360px) and (max-width: 999px) {
  h2 {
    font-size: 34px;
    line-height: 112%;
    margin-bottom: 20px;
  }
}

h3 {
  font-size: 35px;
  line-height: 122%;
  letter-spacing: 0;
  font-weight: 500;
}
@media (min-width: 360px) and (max-width: 999px) {
  h3 {
    font-size: 23px;
    line-height: 120%;
  }
}

.subtitle {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 142%;
  color: #a6a6a6;
  text-align: center;
  margin-bottom: 100px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .subtitle {
    font-size: 16px;
    margin-bottom: 50px;
  }
}

.detailed {
  display: inline-block;
  padding: 7px 57.5px 7px 20px;
  margin-left: -20px;
  margin-bottom: -9px;
  border-radius: 50px;
  transition: background 0.3s ease-in-out 0.3s;
}
@media (min-width: 360px) and (max-width: 999px) {
  .detailed {
    padding: 7px 50px 7px 15px;
    margin-left: -15px;
  }
}
.detailed a {
  position: relative;
  font-size: 23px;
  letter-spacing: 0;
  line-height: 122%;
  color: #ffffff;
  font-weight: 700;
}
@media (min-width: 360px) and (max-width: 999px) {
  .detailed a {
    font-size: 16px;
  }
}
.detailed a::after {
  content: url("images/arrow white.svg");
  position: absolute;
  width: 22px;
  height: 15px;
  top: -0.1px;
  padding-left: 16px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .detailed a::after {
    top: 1.5px;
  }
}

.underline {
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  opacity: 0;
  background-color: #ffffff;
  transition: ease-in-out 0.3s;
}

.underline:hover::before {
  bottom: 0px;
  opacity: 1;
}
@media (min-width: 360px) and (max-width: 999px) {
  .underline:hover::before {
    bottom: -3px;
    opacity: 0;
  }
}

.animation-card {
  transition: background-size 0.3s ease-in-out;
}
@media (min-width: 360px) and (max-width: 999px) {
  .animation-card {
    transition: none;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f7f4;
  overflow-x: hidden;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: relative;
  letter-spacing: 0;
  font-weight: 700;
  color: #ffffff;
  background: url("images/header-background.jpg") no-repeat 0% 51.2%/100% 99.65%;
  margin: 0px auto 133px auto;
  padding-top: 88px;
  padding-bottom: 119px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .header {
    background: url("images/pad-header-background.jpg") no-repeat 50% 0%/111.9% 100%;
    padding-bottom: 117.8px;
    margin-bottom: 135px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .header {
    background: url("images/pad-header-background.jpg") no-repeat 50%/cover;
    padding-bottom: 51px;
    margin-bottom: 76px;
  }
}
.header__navigation {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 181.08px;
  padding: 28.88px 0px;
  z-index: 100;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .header__navigation {
    padding: 26.5px 0px;
    gap: 82px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .header__navigation {
    width: 320px;
    justify-content: start;
    gap: 31.5px;
    padding: 32.5px 0px 32.5px 1px;
    margin: 0 auto;
  }
}
.header__navigation-logo {
  cursor: pointer;
}
.header__navigation-logo-icon {
  display: block;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .header__navigation-logo-icon {
    margin-top: 1px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .header__navigation-logo-icon {
    margin-top: -1px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .header__navigation-logo-icon img {
    width: 133px;
    margin-left: -1px;
    margin-top: 1px;
  }
}
.header__navigation-menu-list {
  font-size: 20px;
  letter-spacing: 0.11px;
  line-height: 138%;
  color: #ffffff;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .header__navigation-menu-list {
    letter-spacing: 0;
    gap: 30.7px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .header__navigation-menu-list {
    display: none;
  }
}
.header__navigation-phone {
  line-height: 138%;
}
@media (min-width: 360px) and (max-width: 999px) {
  .header__navigation-phone {
    margin-top: -1px;
  }
}
.header__navigation-phone-link {
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}
@media (min-width: 360px) and (max-width: 999px) {
  .header__navigation-phone-link {
    font-size: 16px;
    line-height: 142%;
  }
}
.header__navigation.navigation-scroll {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: rgba(243, 239, 232, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 9999;
  transition: top 0.5s linear;
}
@media (min-width: 360px) and (max-width: 999px) {
  .header__navigation.navigation-scroll {
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.header__navigation.navigation-scroll a {
  color: #1b1f2b;
}
.header__navigation.navigation-scroll .underline::before {
  background-color: #1b1f2b;
}
.header__content {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50.5px;
  margin: 121px auto 0 auto;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .header__content {
    max-width: 914px;
    margin: 118.5px auto 0 auto;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .header__content {
    max-width: 310px;
    gap: 40px;
    margin: 53px auto 0 auto;
    padding-left: 21px;
    padding-right: 20px;
  }
}
.header__content-title {
  max-width: 768px;
  font-size: 96px;
  letter-spacing: 2px;
  line-height: 109%;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .header__content-title {
    line-height: 109.9999999999%;
    padding-left: 3px;
    margin: 0 auto 1px auto;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .header__content-title {
    font-size: 34px;
    letter-spacing: 0.7px;
    line-height: 112%;
    color: #ffffff;
    margin: 0 auto;
  }
}
.header__content-subtitle {
  max-width: 562px;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 142%;
  color: #ffffff;
  margin: 0 auto;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .header__content-subtitle {
    max-width: 405px;
    padding-left: 1.85px;
    letter-spacing: 0.015px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .header__content-subtitle {
    max-width: 310px;
    font-size: 16px;
    letter-spacing: 0.011px;
    line-height: 143%;
    color: #ffffff;
    padding-left: 0;
    margin-left: -1px;
  }
}
.header__content-btn {
  padding-top: 4px;
  margin-bottom: 6px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .header__content-btn {
    margin-top: 1px;
    margin-right: 1px;
    padding-top: 5px;
  }
}
.header__content-btn-link {
  font-size: 17px;
  letter-spacing: -0.1px;
  line-height: 142%;
  color: #1b1f2b;
  font-weight: 400;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 7.5px 20px 6.5px 20px;
  transition: 0.3s ease;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .header__content-btn-link {
    padding: 7px 20px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .header__content-btn-link {
    font-size: 16px;
    padding: 6.5px 20.5px 7.5px 19.5px;
    letter-spacing: -0.11px;
    line-height: 131%;
  }
}
.header__content-btn-link:hover {
  color: #ffffff;
  background-color: #efa501;
}
@media (min-width: 360px) and (max-width: 999px) {
  .header__content-btn-link:hover {
    color: #1b1f2b;
    background-color: #ffffff;
  }
}
.header__content-btn-link:active {
  color: #1b1f2b;
  background-color: #f8e6be;
}
@media (min-width: 360px) and (max-width: 999px) {
  .header__content-btn-link:active {
    background-color: #ffffff;
  }
}

.card {
  width: 100%;
  margin: 0 auto 135.425px auto;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card {
    margin: 0 auto 135.425px auto;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .card {
    margin: 0 auto 75.8px auto;
  }
}
.card__title {
  margin-bottom: 35px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card__title {
    margin-bottom: 35px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__title {
    margin-bottom: 30px;
    letter-spacing: 0.7px;
    margin-top: -0.05px;
  }
}
.card__tabs {
  font-size: 23px;
  letter-spacing: 0;
  line-height: 122%;
  color: #1b1f2b;
  font-weight: 700;
  margin-bottom: 106px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card__tabs {
    margin-left: -1.55px;
    margin-bottom: 106px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__tabs {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 142%;
    color: #1b1f2b;
    margin-bottom: 49px;
    margin-left: -1px;
  }
}
.card__tabs-links {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card__tabs-links {
    letter-spacing: 0px;
    gap: 30.32px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__tabs-links {
    max-width: 318px;
    margin: 0 auto;
    gap: 10.3px;
    flex-wrap: wrap;
  }
}
.card__tabs-links-link {
  display: inline-block;
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__tabs-links-link {
    line-height: 142%;
    letter-spacing: 0px;
  }
}
.card__tabs-links .underline::before {
  height: 2px;
  background-color: #1b1f2b;
}
.card__tabs-links .underline:hover::before {
  opacity: 1;
  bottom: -5px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__tabs-links .underline:hover::before {
    opacity: 0;
  }
}
.card__tabs-links .underline.active {
  display: inline-block;
  color: #efa501;
}
.card__tabs-links .underline.active::before {
  width: 100.05%;
  bottom: -6px;
  height: 2px;
  opacity: 1;
  background-color: #efa501;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card__tabs-links .underline.active::before {
    bottom: -6px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__tabs-links .underline.active::before {
    bottom: 1px;
  }
}
.card__container {
  max-width: 1170px;
  margin: 0 auto;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card__container {
    max-width: 918px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__container {
    max-width: 318px;
  }
}
.card__container-content {
  display: none;
}
.card__container-content-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card__container-content-items {
    gap: 18px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__container-content-items {
    gap: 18px;
  }
}
.card__container-content-items .card-one {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/card tour photo-1.jpg") no-repeat 50% 50%;
  background-size: 100%;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card__container-content-items .card-one {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/card tour photo-1.jpg") no-repeat 100%;
    background-size: 100%;
  }
}
.card__container-content-items .card-two {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/background-card-2.jpg") no-repeat center;
  background-size: 100%;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card__container-content-items .card-two {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/background-card-2-pad.jpg") no-repeat 100%;
    background-size: 100%;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__container-content-items .card-two {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/mobile-background-card-2.png") no-repeat center;
  }
}
.card__container-content-items .card-three {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/background-card-3.jpg") no-repeat center;
  background-size: 100%;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card__container-content-items .card-three {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/background-card-3-pad.jpg") no-repeat right 65%;
    background-size: 100%;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__container-content-items .card-three {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/mobile-background-card-3.png") no-repeat center top;
  }
}
.card__container-content-items .card-four {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/background-card-4.jpg") no-repeat center;
  background-size: 100% 100%;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card__container-content-items .card-four {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/background-card-4-pad.jpg") no-repeat center;
    background-size: 100%;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__container-content-items .card-four {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/background-card-4-pad.jpg") no-repeat center;
    background-size: 100%;
  }
}
.card__container-content-items .card-five {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/background-card-5.jpg") no-repeat center;
  background-size: 100%;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card__container-content-items .card-five {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/background-card-5-pad.jpg") no-repeat center;
    background-size: 100%;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__container-content-items .card-five {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/mobile-background-card-5.jpg") no-repeat center;
    background-size: 100%;
  }
}
.card__container-content-items .card-six {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/background-card-6.jpg") no-repeat center;
  background-size: 100%;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card__container-content-items .card-six {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/background-card-6-pad.jpg") no-repeat center;
    background-size: 100%;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__container-content-items .card-six {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.4)), url("images/mobile-background-card-6.png") no-repeat left;
  }
}
.card__container-content-items-item {
  width: 370px;
  height: 531px;
  color: #ffffff;
  border-radius: 50px;
  padding: 50px 50px 50px 50px;
  cursor: pointer;
  transition: background-size 0.5s ease-in-out;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card__container-content-items-item {
    width: 450px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__container-content-items-item {
    padding: 26px 25px 25px 25px;
    width: 318px;
    height: 318px;
    border-radius: 20px;
  }
}
.card__container-content-items-item-title {
  margin-bottom: 16px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card__container-content-items-item-title {
    margin-bottom: 16px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__container-content-items-item-title {
    margin-bottom: 14px;
    letter-spacing: 1px;
  }
}
.card__container-content-items-item-price {
  font-size: 17px;
  letter-spacing: -0.1px;
  line-height: 142%;
  color: #ffffff;
  margin-bottom: 270px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .card__container-content-items-item-price {
    margin-bottom: 313px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__container-content-items-item-price {
    font-size: 16px;
    margin-bottom: 174px;
  }
}
.card__container-content-items-item .detailed a::after {
  padding-left: 16.5px;
  top: -1px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__container-content-items-item .detailed a::after {
    top: 1px;
  }
}
.card__container-content-items-item:hover {
  background-size: 120%;
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__container-content-items-item:hover {
    background-size: 100%;
  }
}
.card__container-content-items-item:hover .detailed {
  background-color: #286562;
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__container-content-items-item:hover .detailed {
    background-color: transparent;
  }
}
.card__container-content-items-item:hover .detailed:active {
  background-color: #efa501;
}
@media (min-width: 360px) and (max-width: 999px) {
  .card__container-content-items-item:hover .detailed:active {
    background-color: transparent;
  }
}
.card__container-content.active-card {
  display: block;
}

.application {
  text-align: center;
  margin-bottom: 135px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application {
    padding-left: 21px;
    padding-right: 21px;
    margin-bottom: 77px;
  }
}
.application__title {
  margin-bottom: 30px;
  margin-top: -0.8px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__title {
    margin-bottom: 29.5px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__title {
    letter-spacing: 0.7px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 0.5px;
    padding-left: 1px;
  }
}
.application__subtitle {
  margin-bottom: 99px;
  line-height: 144%;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__subtitle {
    margin-bottom: 100px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__subtitle {
    margin-bottom: 40px;
    line-height: 142%;
  }
}
.application__box {
  display: inline-block;
  max-width: 1170px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__box {
    max-width: 918px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box {
    max-width: 318px;
  }
}
.application__box-form {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 33px 30px;
  padding: 70px 70px 70px 70px;
  background-color: #ffffff;
  border-radius: 50px;
  line-height: 142%;
  letter-spacing: 0px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__box-form {
    gap: 32.1px 20px;
    padding: 59px 60px 60px 60px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form {
    border-radius: 30px;
    gap: 30px 0px;
    padding: 21.5px 20px 40px 20px;
  }
}
.application__box-form label,
.application__box-form input,
.application__box-form select {
  display: block;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 142%;
  color: #1b1f2b;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form label,
  .application__box-form input,
  .application__box-form select {
    font-size: 16px;
  }
}
.application__box-form label {
  margin-bottom: 8px;
  pointer-events: none;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__box-form label {
    margin-bottom: 7.5px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form label {
    margin-bottom: 7px;
  }
}
.application__box-form input,
.application__box-form select {
  width: 500px;
  background-color: #f9f7f4;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  padding: 18px 20px 19px 18.9px;
  cursor: pointer;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__box-form input,
  .application__box-form select {
    width: 389px;
    padding-top: 18.8px;
    padding-bottom: 19.8px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form input,
  .application__box-form select {
    width: 278px;
    padding: 10.7px 9.5px 8px 9px;
  }
}
.application__box-form input:focus:hover,
.application__box-form input:focus {
  background-color: #f4f0e9;
  border-color: #a6a6a6;
}
.application__box-form ::-moz-placeholder {
  color: #a6a6a6;
}
.application__box-form ::placeholder {
  color: #a6a6a6;
}
.application__box-form input:hover,
.application__box-form textarea:hover {
  background-color: #f4f0e9;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form input:hover,
  .application__box-form textarea:hover {
    background-color: #f9f7f4;
  }
}
.application__box-form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("images/arrow-dropdown.svg") no-repeat 453px/26px 26px, linear-gradient(#f9f7f4, #f9f7f4);
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__box-form select {
    width: 389px;
    background: url("images/arrow-dropdown.svg") no-repeat 341.8px/26px 26px, linear-gradient(#f9f7f4, #f9f7f4);
    padding: 19px 19px 19px 19.5px;
    letter-spacing: 0px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form select {
    width: 278px;
    padding: 12px 10px 9px 9.5px;
    background: url("images/arrow-dropdown.svg") no-repeat 241px/26px 26px, linear-gradient(#f9f7f4, #f9f7f4);
    margin-bottom: 2px;
  }
}
.application__box-form select option {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 142%;
  color: #1b1f2b;
  cursor: pointer;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form select option {
    font-size: 16px;
  }
}
.application__box-form select:required:invalid {
  color: #a6a6a6;
  padding-right: 0;
}
.application__box-form select:required:invalid:focus:hover,
.application__box-form select:required:invalid:focus {
  color: #a6a6a6;
  padding-right: 0;
}
.application__box-form select:focus:hover,
.application__box-form select:focus {
  color: #1b1f2b;
  border-color: #a6a6a6;
  background: url("images/arrow-dropdown.svg") no-repeat 453px/26px 26px, linear-gradient(#f4f0e9, #f4f0e9);
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__box-form select:focus:hover,
  .application__box-form select:focus {
    background: url("images/arrow-dropdown.svg") no-repeat 341.8px/26px 26px, linear-gradient(#f4f0e9, #f4f0e9);
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form select:focus:hover,
  .application__box-form select:focus {
    background: url("images/arrow-dropdown.svg") no-repeat 241px/26px 26px, linear-gradient(#f4f0e9, #f4f0e9);
  }
}
.application__box-form select:hover {
  background: url("images/arrow-dropdown.svg") no-repeat 453px/26px 26px, linear-gradient(#f4f0e9, #f4f0e9);
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__box-form select:hover {
    background: url("images/arrow-dropdown.svg") no-repeat 341.8px/26px 26px, linear-gradient(#f4f0e9, #f4f0e9);
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form select:hover {
    background: url("images/arrow-dropdown.svg") no-repeat 241px/26px 26px, linear-gradient(#f9f7f4, #f9f7f4);
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-email {
    margin-bottom: 1px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-email input {
    padding-top: 10px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-tel {
    margin-bottom: 1.3px;
  }
}
.application__box-form-date {
  margin-bottom: 0px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-date {
    margin-bottom: 1.2px;
  }
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__box-form-date label {
    margin-bottom: 7.8px;
  }
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__box-form-date input {
    color: red;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-date input {
    width: 280px;
    padding: 10px 9px 8px 9px;
    margin-bottom: 0px;
  }
}
.application__box-form-date input[type=date] {
  padding-top: 17px !important;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-date input[type=date] {
    width: 280px;
    padding: 7.5px 9px 8px 9px !important;
    margin-bottom: 0px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form .date-from {
    margin-bottom: 2px;
  }
}
.application__box-form-comment {
  width: 100%;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__box-form-comment {
    margin-top: -0.8px;
    margin-bottom: -1px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-comment {
    margin-bottom: -1px;
  }
}
.application__box-form-comment label {
  margin-bottom: 8px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__box-form-comment label {
    margin-bottom: 7.5px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-comment label {
    margin-bottom: 7px;
  }
}
.application__box-form-comment textarea {
  height: 152px;
  width: 100%;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 142%;
  color: #1b1f2b;
  background-color: #f9f7f4;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  padding: 10px;
  resize: none;
  cursor: pointer;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-comment textarea {
    font-size: 16px;
    height: 132px;
  }
}
.application__box-form-comment textarea:focus {
  box-shadow: 0px 0px 0px 1px #a6a6a6 inset;
  color: #1b1f2b;
}
.application__box-form-agreement input {
  padding: 0;
}
.application__box-form-agreement-radiobox {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__box-form-agreement-radiobox {
    margin-top: 2.8px;
    margin-bottom: 25px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-agreement-radiobox {
    margin-bottom: 23px;
  }
}
.application__box-form-agreement-radiobox-question {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 71%;
  color: #1b1f2b;
  margin-bottom: 15.5px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-agreement-radiobox-question {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.application__box-form-agreement-radiobox-answer {
  display: flex;
  gap: 31px;
}
.application__box-form-agreement-radiobox-answer-yes, .application__box-form-agreement-radiobox-answer-no {
  display: flex;
  gap: 11px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-agreement-radiobox-answer-yes, .application__box-form-agreement-radiobox-answer-no {
    gap: 9.5px;
  }
}
.application__box-form-agreement-radiobox label {
  margin-top: -0.5px;
}
.application__box-form-agreement-contract {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
  margin-bottom: 33px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__box-form-agreement-contract {
    gap: 11px;
    margin-bottom: 32.5px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-agreement-contract {
    gap: 10px;
    align-items: start;
    margin-bottom: 27.5px;
    line-height: 141%;
  }
}
.application__box-form-agreement-contract label {
  font-size: 17px;
  letter-spacing: -0.19px;
  line-height: 142%;
  color: #a6a6a6;
  margin-bottom: 0;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-agreement-contract label {
    flex-shrink: 2;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 142%;
  }
}
.application__box-form-agreement-contract a {
  color: #1b1f2b;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.2px;
  margin-top: 0.5px;
  cursor: pointer;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .application__box-form-agreement-contract a {
    margin-top: 0px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-agreement-contract a {
    letter-spacing: -0.6px;
    line-height: 141%;
  }
}
.application__box-form-agreement-contract a:active {
  color: #286562;
}
.application__box-form-agreement-contract .underline::before {
  background-color: #1b1f2b;
}
.application__box-form-agreement-contract .underline:active::before {
  background-color: #286562;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-agreement .custom-checkbox {
    flex-shrink: 0;
  }
}
.application__box-form-agreement .custom-radio,
.application__box-form-agreement .custom-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 26px;
  height: 26px;
  background: #ffffff;
  border-radius: 4px;
  border: 2px solid #1b1f2b;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-agreement .custom-radio,
  .application__box-form-agreement .custom-checkbox {
    width: 20px;
    height: 20px;
  }
}
.application__box-form-agreement .custom-radio {
  border-radius: 50%;
}
.application__box-form-agreement .custom-radio:focus,
.application__box-form-agreement .custom-checkbox:focus {
  border: 2px solid #1b1f2b;
}
.application__box-form-agreement .custom-radio::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.application__box-form-agreement .custom-radio:checked {
  background: #ffffff;
}
.application__box-form-agreement .custom-radio:checked::after {
  width: 12px;
  height: 12px;
  background-color: #1b1f2b;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-agreement .custom-radio:checked::after {
    width: 9px;
    height: 9px;
  }
}
.application__box-form-agreement .custom-checkbox::after {
  content: "";
  position: absolute;
  top: 24%;
  left: 23.5%;
  background: url("images/Checkbox arrow.svg") no-repeat;
  width: 0px;
  height: 0px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-agreement .custom-checkbox::after {
    background: url("images/Checkbox arrow mobile.svg") no-repeat;
    top: 24%;
    left: 20%;
  }
}
.application__box-form-agreement .custom-checkbox:checked {
  background-color: #ffffff;
}
.application__box-form-agreement .custom-checkbox:checked::after {
  width: 15px;
  height: 14px;
}
.application__box-form-agreement .custom-radio:hover,
.application__box-form-agreement .custom-checkbox:hover {
  background: #ffffff;
}
.application__box-form-agreement .custom-radio:focus,
.application__box-form-agreement .custom-checkbox:focus {
  box-shadow: none;
}
.application__box-form-agreement .custom-checkbox:disabled,
.application__box-form-agreement .custom-radio:disabled {
  background: #ffffff;
  border-color: #ffffff;
}
.application__box-form-agreement-buttons {
  display: flex;
  gap: 30px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-agreement-buttons {
    gap: 10px;
  }
}
.application__box-form-agreement-buttons-btn {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 142%;
  color: #ffffff;
  width: 235px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  transition: background 0.1s ease-in-out 0.1s;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-agreement-buttons-btn {
    width: 134px;
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 11px;
  }
}
.application__box-form-agreement-buttons .submit {
  background-color: #286562;
}
.application__box-form-agreement-buttons .submit:hover {
  background-color: #3b7e7b;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-agreement-buttons .submit:hover {
    background-color: #286562;
  }
}
.application__box-form-agreement-buttons .submit:active {
  background-color: #627f7e;
}
.application__box-form-agreement-buttons .reset {
  background-color: #e0f0e5;
  color: #286562;
}
.application__box-form-agreement-buttons .reset:hover {
  background-color: #f1f3f2;
}
@media (min-width: 360px) and (max-width: 999px) {
  .application__box-form-agreement-buttons .reset:hover {
    background-color: #e0f0e5;
  }
}
.application__box-form-agreement-buttons .reset:active {
  background-color: #d9dfdb;
}

.reviews {
  margin-bottom: 96.5px;
  position: relative;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .reviews {
    margin-bottom: 96px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .reviews {
    margin-bottom: 56px;
  }
}
.reviews__title {
  margin-bottom: 29.5px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .reviews__title {
    letter-spacing: 0.7px;
    margin-bottom: 20px;
  }
}
.reviews .block-transparent-for-scroll {
  display: none;
}
@media (min-width: 360px) and (max-width: 999px) {
  .reviews .block-transparent-for-scroll {
    display: block;
    position: absolute;
    z-index: 50;
    opacity: 0;
    width: 100vw;
    height: 84%;
  }
}
.reviews__swiper {
  position: relative;
  width: 1170px;
  height: 100%;
  padding-bottom: 20px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .reviews__swiper {
    width: 918px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .reviews__swiper {
    width: 318px;
    max-height: 1059px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .reviews .swiper-wrapper {
    transform: none !important;
  }
}
.reviews .swiper-slide,
.reviews .swiper-slide-mobile {
  max-width: 570px;
  height: 673px;
  font-size: 23px;
  line-height: 122%;
  border-radius: 50px;
  background-color: #f4f0e9;
  padding: 39px 40px 40px 40px;
  cursor: pointer;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .reviews .swiper-slide,
  .reviews .swiper-slide-mobile {
    max-width: 450px;
    height: 841px;
    padding: 38.5px 40px 40px 40px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .reviews .swiper-slide,
  .reviews .swiper-slide-mobile {
    max-width: 318px;
    height: auto;
    font-size: 16px;
    line-height: 142%;
    border-radius: 20px;
    padding: 20px 20px 13px 20px;
  }
}
.reviews .swiper-slide__content-one,
.reviews .swiper-slide-mobile__content-one {
  font-weight: 700;
}
@media (min-width: 360px) and (max-width: 999px) {
  .reviews .swiper-slide__content-one,
  .reviews .swiper-slide-mobile__content-one {
    margin-bottom: 36.5px;
    line-height: 144.5%;
    letter-spacing: 0.01px;
  }
}
.reviews .swiper-slide .mari,
.reviews .swiper-slide-mobile .mari {
  margin-bottom: 261px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .reviews .swiper-slide .mari,
  .reviews .swiper-slide-mobile .mari {
    margin-bottom: 373px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .reviews .swiper-slide .mari,
  .reviews .swiper-slide-mobile .mari {
    margin-bottom: 35px;
  }
  .reviews .swiper-slide .mari img,
  .reviews .swiper-slide-mobile .mari img {
    margin-top: -1px;
  }
}
.reviews .swiper-slide .pavel,
.reviews .swiper-slide-mobile .pavel {
  margin-bottom: 64px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .reviews .swiper-slide .pavel,
  .reviews .swiper-slide-mobile .pavel {
    margin-bottom: 34px;
  }
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .reviews .swiper-slide .pavel img,
  .reviews .swiper-slide-mobile .pavel img {
    margin-top: 3px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .reviews .swiper-slide .pavel img,
  .reviews .swiper-slide-mobile .pavel img {
    margin-top: -1px;
  }
}
.reviews .swiper-slide__content-two,
.reviews .swiper-slide-mobile__content-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.reviews .swiper-slide__content-two-text-title,
.reviews .swiper-slide-mobile__content-two-text-title {
  margin-bottom: 8px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .reviews .swiper-slide__content-two-text-title,
  .reviews .swiper-slide-mobile__content-two-text-title {
    margin-bottom: 8px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .reviews .swiper-slide__content-two-text-title,
  .reviews .swiper-slide-mobile__content-two-text-title {
    letter-spacing: 1px;
  }
}
.reviews .swiper-slide__content-two-text-subtext,
.reviews .swiper-slide-mobile__content-two-text-subtext {
  font-size: 17px;
  letter-spacing: -0.15px;
  line-height: 142%;
  color: #a6a6a6;
}
@media (min-width: 360px) and (max-width: 999px) {
  .reviews .swiper-slide__content-two-text-subtext,
  .reviews .swiper-slide-mobile__content-two-text-subtext {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 142%;
    color: #a6a6a6;
    letter-spacing: -0.2px;
    margin-bottom: -16px;
    margin-top: 9px;
  }
}
.reviews .swiper-slide__content-two-foto,
.reviews .swiper-slide-mobile__content-two-foto {
  padding-top: 4.5px;
}
.reviews .swiper-slide__content-two-foto img,
.reviews .swiper-slide-mobile__content-two-foto img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.reviews .swiper-slide-active {
  margin-bottom: 18px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .reviews .swiper-slide-desk {
    display: none;
  }
}
.reviews .swiper-pagination {
  bottom: 0px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .reviews .swiper-pagination {
    top: 95px;
    right: 6px;
  }
}
.reviews .swiper-pagination-bullet-active {
  background-color: #1b1f2b;
}

.gallery {
  margin: 0 auto 135px auto;
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery {
    margin: 0 auto 76px auto;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery__title {
    margin-left: auto;
    margin-right: auto;
    max-width: 318px;
    letter-spacing: 0.7px;
  }
}
.gallery__subtitle {
  line-height: 143%;
  margin-bottom: 99px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery__subtitle {
    margin-bottom: 49px;
  }
}
.gallery__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery__container {
    gap: 18px;
  }
}
.gallery__container-content {
  max-width: 1860px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .gallery__container-content {
    max-width: 984px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery__container-content {
    max-width: 318px;
  }
}
.gallery__container-content-one, .gallery__container-content-two, .gallery__container-content-three {
  height: 301px;
  position: relative;
  display: flex;
  gap: 30px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .gallery__container-content-one, .gallery__container-content-two, .gallery__container-content-three {
    gap: 20px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery__container-content-one, .gallery__container-content-two, .gallery__container-content-three {
    height: 110px;
  }
}
.gallery__container-content-one img, .gallery__container-content-two img, .gallery__container-content-three img {
  height: 301px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery__container-content-one img, .gallery__container-content-two img, .gallery__container-content-three img {
    height: 110px;
    border-radius: 20px;
  }
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .gallery__container-content-one img, .gallery__container-content-three img {
    width: 314.67px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery__container-content-two, .gallery__container-content-three {
    gap: 10px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery__container-content-one {
    gap: 18px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery__container-content-one img {
    width: 150px;
  }
}
.gallery__container-content-one-first-foto-one-img {
  width: 444px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .gallery__container-content-one-first-foto-one-img {
    -o-object-fit: fill !important;
       object-fit: fill !important;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery__container-content-one-first-foto-one-img {
    -o-object-fit: fill !important;
       object-fit: fill !important;
  }
}
.gallery__container-content-one-first-foto-two-img, .gallery__container-content-one-first-foto-three-img {
  width: 441.5px;
}
.gallery__container-content-one-first-foto-four-img {
  width: 443px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .gallery__container-content-one-first-foto-four-img {
    -o-object-fit: fill !important;
       object-fit: fill !important;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery__container-content-one-first-foto-four-img {
    -o-object-fit: fill !important;
       object-fit: fill !important;
  }
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .gallery__container-content-two img {
    width: 231px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery__container-content-two img {
    width: 99.33px;
  }
}
.gallery__container-content-two-second-foto-one-img {
  width: 349.16px;
}
.gallery__container-content-two-second-foto-two-img, .gallery__container-content-two-second-foto-three-img, .gallery__container-content-two-second-foto-four-img {
  width: 347.32px;
}
.gallery__container-content-two-second-foto-five-img {
  width: 348.87px;
}
.gallery__container-content-three img {
  max-width: 442.5px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery__container-content-three img {
    max-width: 154px;
  }
}
.gallery__container-content .padd,
.gallery__container-content .mob-img {
  display: none;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .gallery__container-content .deletePad,
  .gallery__container-content .mob-img {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery__container-content .deletePad,
  .gallery__container-content .deleteMobile,
  .gallery__container-content .padd {
    display: none;
  }
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .gallery__container-content .padd {
    display: block;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .gallery__container-content .mob-img {
    display: block;
  }
}

.stories {
  text-align: center;
  margin-bottom: 135px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .stories {
    margin-bottom: 135px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories {
    padding-right: 21px;
    padding-left: 21px;
    margin-bottom: 76px;
  }
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .stories__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__title {
    max-width: 318px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.6px;
  }
}
.stories__subtitle {
  line-height: 141%;
  margin-bottom: 99px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__subtitle {
    line-height: 142%;
    margin-bottom: 49px;
  }
}
.stories__container {
  display: inline-block;
  width: 1170px;
  text-align: left;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .stories__container {
    width: 918px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container {
    width: 318px;
  }
}
.stories__container-block {
  position: relative;
  width: 100%;
  padding: 60px 60px 60px 60px;
  border-radius: 50px;
  cursor: pointer;
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container-block {
    padding: 30px 25px 30px 30px;
    border-radius: 20px;
  }
}
.stories__container-block-content {
  max-width: 554px;
  color: #ffffff;
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container-block-content {
    width: auto;
    margin-bottom: 140px;
  }
}
.stories__container-block-content-title {
  margin-bottom: 38px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .stories__container-block-content-title {
    margin-bottom: 37px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container-block-content-title {
    max-width: 162px;
    letter-spacing: 1px;
    line-height: 122%;
    margin-bottom: 22px;
  }
}
.stories__container-block-content-text {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 142%;
  color: #ffffff;
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container-block-content-text {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 142%;
    color: #ffffff;
  }
}
.stories__container-block-content-list {
  margin-top: 26px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .stories__container-block-content-list {
    margin-top: 27px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container-block-content-list {
    margin-top: 23px;
  }
}
.stories__container-block-content-list-item {
  position: relative;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 142%;
  color: #ffffff;
  margin-left: 30px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container-block-content-list-item {
    font-size: 16px;
    margin-left: 24px;
    line-height: 144%;
  }
}
.stories__container-block-content-list-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  color: #ffffff;
  left: -17px;
  top: 11px;
  border: 2.5px solid #ffffff;
  border-radius: 50px;
  background-color: #ffffff;
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container-block-content-list-item::before {
    border: 2px solid #ffffff;
    top: 9px;
    left: -14.5px;
  }
}
.stories__container-block-detailed {
  display: inline-block;
  position: absolute;
  bottom: 62px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container-block-detailed {
    bottom: 35px;
  }
}
.stories__container-block .detailed a::after {
  top: 0.5px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container-block .detailed a::after {
    padding-left: 17px;
    top: 2px;
  }
}
.stories__container-block-network {
  position: absolute;
  display: inline-flex;
  gap: 35px;
  color: #ffffff;
  right: 61px;
  bottom: 60px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .stories__container-block-network {
    right: 61px;
    bottom: 60px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container-block-network {
    display: none;
  }
}
.stories__container-block-network-link {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 142%;
  color: #ffffff;
}
.stories__container-block-network-link:active {
  color: #efa501;
}
.stories__container-block-network .underline:active::before {
  background-color: #efa501 !important;
}
.stories__container-block:hover .detailed {
  background-color: #286562;
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container-block:hover .detailed {
    background-color: transparent;
  }
}
.stories__container-block:hover .detailed:active {
  background-color: #efa501;
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container-block:hover .detailed:active {
    background-color: transparent;
  }
}
.stories__container .one-block {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url("images/story photo-1.jpg") no-repeat center;
  margin-bottom: 50px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .stories__container .one-block {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url("images/story photo-1Pad.jpg") no-repeat center;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container .one-block {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url("images/story photo-1Mobile.png") no-repeat center;
    margin-bottom: 20px;
  }
}
.one-block .stories__container-block-content {
  margin-bottom: 142px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .one-block .stories__container-block-content {
    margin-bottom: 88.5px;
  }
}
.stories__container .two-block {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url("images/story photo-2.jpg") no-repeat center;
  margin-bottom: 50px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .stories__container .two-block {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url("images/story photo-2Pad.jpg") no-repeat center;
    margin-bottom: 50px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container .two-block {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url("images/story photo-2Mobile.png") no-repeat center;
    margin-bottom: 20px;
  }
}
.two-block .stories__container-block-content-text {
  line-height: 141%;
}
@media (min-width: 360px) and (max-width: 999px) {
  .two-block .stories__container-block-content-text {
    line-height: 142%;
  }
}
.two-block .stories__container-block-network {
  bottom: 59px;
}
.two-block .stories__container-block-content {
  margin-bottom: 253.5px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .two-block .stories__container-block-content {
    margin-bottom: 254.5px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .two-block .stories__container-block-content {
    margin-bottom: 181px;
  }
}
.three-block .stories__container-block-content {
  margin-bottom: 253.5px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .three-block .stories__container-block-content {
    margin-bottom: 181px;
  }
}
.two-block .stories__container-block-content-title, .three-block .stories__container-block-content-title {
  margin-bottom: 37px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .two-block .stories__container-block-content-title, .three-block .stories__container-block-content-title {
    margin-bottom: 22px;
  }
}
.stories__container .three-block {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url("images/story photo-3.jpg") no-repeat center;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .stories__container .three-block {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url("images//story photo-3Pad.jpg") no-repeat 48%;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container .three-block {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url("images/story photo-3Mobile.png") no-repeat center;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container .three-block .detailed {
    bottom: 34px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .three-block .stories__container-block-content {
    margin-bottom: 180px;
  }
}
.three-block .stories__container-block-network {
  bottom: 59px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .three-block .stories__container-block-network {
    bottom: 60px;
  }
}
.stories__container .one-block,
.stories__container .two-block,
.stories__container .three-block {
  background-size: 100% 100%;
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container .one-block,
  .stories__container .two-block,
  .stories__container .three-block {
    background-size: cover;
  }
}
.stories__container .one-block:hover,
.stories__container .two-block:hover,
.stories__container .three-block:hover {
  background-size: 153%;
}
@media (min-width: 360px) and (max-width: 999px) {
  .stories__container .one-block:hover,
  .stories__container .two-block:hover,
  .stories__container .three-block:hover {
    background-size: 100%;
  }
}

.communication {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-bottom: 135px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .communication {
    margin-bottom: 75px;
  }
}
.communication__block {
  max-width: 771px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .communication__block {
    gap: 30.5px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .communication__block {
    max-width: 360px;
    flex-wrap: wrap;
    gap: 31.13px;
  }
}
.communication__block-background {
  min-width: 370px;
  min-height: 370px;
  border-radius: 50px;
  background: url("images/footer  photo.jpg") no-repeat center/100% 100%;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .communication__block-background {
    margin-left: -0.8px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .communication__block-background {
    min-width: 130px;
    min-height: 133px;
    border-radius: 20px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .communication__block-content {
    text-align: center;
  }
}
.communication__block-content-title {
  margin-bottom: 21px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .communication__block-content-title {
    margin-top: 0;
    margin-bottom: 20.5px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .communication__block-content-title {
    letter-spacing: 0.9px;
    margin-bottom: 21px;
  }
}
.communication__block-content-text {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 142%;
  color: #a6a6a6;
}
@media (min-width: 360px) and (max-width: 999px) {
  .communication__block-content-text {
    max-width: 292px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 142%;
    color: #a6a6a6;
  }
}
.communication__block-content .email {
  cursor: pointer;
  color: #1b1f2b;
  position: relative;
}
.communication__block-content .underline::before {
  position: absolute;
  bottom: 2px;
  background-color: #1b1f2b;
}
.communication__block-content .email:active {
  color: #286562;
}
.communication__block-content .underline:active::before {
  background-color: #286562;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #f4f0e9;
}
@media (min-width: 360px) and (max-width: 999px) {
  .footer {
    flex-wrap: wrap;
    text-align: center;
  }
}
.footer__container {
  width: 1168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 30px 0 30px 0;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .footer__container {
    width: 918px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .footer__container {
    display: inline-block;
    padding: 22px 21.5px 21px 21.5px;
  }
}
.footer__container-text {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 142%;
  color: #a6a6a6;
}
@media (min-width: 360px) and (max-width: 999px) {
  .footer__container-text {
    font-size: 16px;
    margin-bottom: 7px;
  }
}
.footer__container-network {
  display: flex;
  gap: 25px;
  align-items: center;
}
@media (min-width: 360px) and (max-width: 999px) {
  .footer__container-network {
    justify-content: center;
    gap: 13px;
  }
}
.footer__container-network-container-link {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 142%;
  color: #1b1f2b;
  display: flex;
  gap: 10.8px;
}
@media (min-width: 1000px) and (max-width: 1850px) {
  .footer__container-network-container-link {
    gap: 10.5px;
  }
}
@media (min-width: 360px) and (max-width: 999px) {
  .footer__container-network-container-link {
    font-size: 16px;
    gap: 2px;
  }
}
.footer__container-network-container-link-icon {
  width: 26px;
  height: 26px;
  margin-top: 1px;
}
@media (min-width: 360px) and (max-width: 999px) {
  .footer__container-network-container-link-icon {
    margin-top: -2px;
  }
}
.footer__container-network-container-link .inst {
  margin-left: -1.3px;
}
.footer__container .underline::before {
  background-color: #1b1f2b;
  width: 74.5%;
  right: 0;
}/*# sourceMappingURL=style.css.map */